.node-red/flows_Heizung.json
[
    {
        "id": "b4be1bf1.59bee8",
        "type": "tab",
        "label": "Flow 1"
    },
    {
        "id": "fd622c93.69a77",
        "type": "websocket-listener",
        "z": "",
        "path": "/ws/gatttool",
        "wholemsg": "false"
    },
    {
        "id": "dab61bb7.6132a8",
        "type": "ui_group",
        "z": "",
        "name": "Heizung aus/an",
        "tab": "e7e54e49.20fde",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "e7e54e49.20fde",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard"
    },
    {
        "id": "b45e7a54.018a28",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "e3afe0ef.4923f",
        "type": "debug",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 490,
        "y": 680,
        "wires": []
    },
    {
        "id": "97d3725d.6888b",
        "type": "daemon",
        "z": "b4be1bf1.59bee8",
        "command": "gatttool",
        "args": "-I",
        "cr": true,
        "redo": true,
        "op": "string",
        "name": "gatttool -I",
        "x": 240,
        "y": 660,
        "wires": [
            [
                "e3afe0ef.4923f",
                "d671fd42.3caae",
                "2f7cfd7b.d33812"
            ],
            [
                "e3afe0ef.4923f"
            ],
            [
                "e3afe0ef.4923f"
            ]
        ]
    },
    {
        "id": "914f63c8.58cac",
        "type": "inject",
        "z": "b4be1bf1.59bee8",
        "name": "char-write-req 0411 03",
        "topic": "",
        "payload": "char-write-req 0411 03",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 480,
        "y": 320,
        "wires": [
            [
                "4993d777.8aa9e8"
            ]
        ]
    },
    {
        "id": "7856e0e8.9a52f",
        "type": "inject",
        "z": "b4be1bf1.59bee8",
        "name": "disconnect 00:1A:22:0B:F9:D1",
        "topic": "",
        "payload": "disconnect 00:1A:22:0B:F9:D1",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 510,
        "y": 520,
        "wires": [
            [
                "4993d777.8aa9e8"
            ]
        ]
    },
    {
        "id": "adc2c093.9bd9",
        "type": "inject",
        "z": "b4be1bf1.59bee8",
        "name": "char-write-req 0411 411d",
        "topic": "",
        "payload": "char-write-req 0411 411d",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 490,
        "y": 440,
        "wires": [
            [
                "4993d777.8aa9e8"
            ]
        ]
    },
    {
        "id": "2c4034d8.fe76dc",
        "type": "inject",
        "z": "b4be1bf1.59bee8",
        "name": "char-write-req 0411 4040",
        "topic": "",
        "payload": "char-write-req 0411 4040",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 490,
        "y": 400,
        "wires": [
            [
                "4993d777.8aa9e8"
            ]
        ]
    },
    {
        "id": "8ad1ede1.0167",
        "type": "inject",
        "z": "b4be1bf1.59bee8",
        "name": "char-write-req 0411 4000",
        "topic": "",
        "payload": "char-write-req 0411 4000",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 510,
        "y": 480,
        "wires": [
            [
                "4993d777.8aa9e8"
            ]
        ]
    },
    {
        "id": "116759e4.aa4fa6",
        "type": "e-mail in",
        "z": "b4be1bf1.59bee8",
        "name": "backebackekuchen16@gmail.com",
        "protocol": "IMAP",
        "server": "imap.gmail.com",
        "useSSL": true,
        "port": "993",
        "box": "INBOX",
        "disposition": "Read",
        "repeat": "300",
        "x": 240,
        "y": 120,
        "wires": [
            [
                "caa5e213.3605c",
                "5efdc9ba.edab58"
            ]
        ]
    },
    {
        "id": "9c3e623c.ddd2d",
        "type": "template",
        "z": "b4be1bf1.59bee8",
        "name": "connect",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "connect 00:1A:22:0B:F9:D1",
        "output": "str",
        "x": 1180,
        "y": 120,
        "wires": [
            [
                "82ccc39.71c2a4",
                "6b3b465.cf738b8"
            ]
        ]
    },
    {
        "id": "a8f69b17.d49a28",
        "type": "template",
        "z": "b4be1bf1.59bee8",
        "name": "auto mode",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "char-write-req 0411 4000",
        "output": "str",
        "x": 1570,
        "y": 120,
        "wires": [
            [
                "6ab53bd9.f82904",
                "62b4067a.ee3208"
            ]
        ]
    },
    {
        "id": "82ccc39.71c2a4",
        "type": "delay",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1380,
        "y": 120,
        "wires": [
            [
                "a8f69b17.d49a28"
            ]
        ]
    },
    {
        "id": "65fa44ca.cb1d5c",
        "type": "inject",
        "z": "b4be1bf1.59bee8",
        "name": "Test",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 1010,
        "y": 160,
        "wires": [
            [
                "9c3e623c.ddd2d"
            ]
        ]
    },
    {
        "id": "de502380.c110b",
        "type": "rbe",
        "z": "b4be1bf1.59bee8",
        "name": "nur einmal je Email",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 810,
        "y": 120,
        "wires": [
            [
                "9c3e623c.ddd2d"
            ]
        ]
    },
    {
        "id": "caa5e213.3605c",
        "type": "debug",
        "z": "b4be1bf1.59bee8",
        "name": "debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 470,
        "y": 160,
        "wires": []
    },
    {
        "id": "5efdc9ba.edab58",
        "type": "function",
        "z": "b4be1bf1.59bee8",
        "name": "nur \"Re: Heizungsraspberrypi.\"",
        "func": "if (msg.topic==\"Re: Heizungsraspberrypi.\") {\n  return msg;\n  }\n",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 120,
        "wires": [
            [
                "de502380.c110b"
            ]
        ]
    },
    {
        "id": "1fd93aab.4ddaa5",
        "type": "link in",
        "z": "b4be1bf1.59bee8",
        "name": "stdin zu gatttool -I",
        "links": [
            "2beb4749.77c788",
            "4993d777.8aa9e8",
            "6ab53bd9.f82904",
            "6b3b465.cf738b8",
            "8d8cb496.89cd18",
            "8bfd293.995bfd8",
            "3a70e828.eb3488",
            "15f994de.d25bdb",
            "eca91c29.a07d3",
            "617d12c.da3adec"
        ],
        "x": 95,
        "y": 660,
        "wires": [
            [
                "97d3725d.6888b"
            ]
        ]
    },
    {
        "id": "6ab53bd9.f82904",
        "type": "link out",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "links": [
            "1fd93aab.4ddaa5"
        ],
        "x": 1735,
        "y": 160,
        "wires": []
    },
    {
        "id": "6b3b465.cf738b8",
        "type": "link out",
        "z": "b4be1bf1.59bee8",
        "name": "zu gatttool schicken",
        "links": [
            "1fd93aab.4ddaa5"
        ],
        "x": 1335,
        "y": 160,
        "wires": []
    },
    {
        "id": "2339cc64.a95904",
        "type": "comment",
        "z": "b4be1bf1.59bee8",
        "name": "Bei neuer Email mit Topic gleich \"Re: Heizungsraspberrypi.\" soll die Heizung auf Automatik zurückgestellt werden.",
        "info": "",
        "x": 390,
        "y": 80,
        "wires": []
    },
    {
        "id": "9eefd5e2.1050d8",
        "type": "comment",
        "z": "b4be1bf1.59bee8",
        "name": "Testeingaben laut https://github.com/Heckie75/eQ-3-radiador-thermostat/blob/master/eQ-3-radiator-thermostat-api.m",
        "info": "",
        "x": 400,
        "y": 240,
        "wires": []
    },
    {
        "id": "4993d777.8aa9e8",
        "type": "link out",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "links": [
            "1fd93aab.4ddaa5"
        ],
        "x": 788.333330154419,
        "y": 380,
        "wires": []
    },
    {
        "id": "d7b4d598.fafbe8",
        "type": "comment",
        "z": "b4be1bf1.59bee8",
        "name": "gatttool -I",
        "info": "",
        "x": 60,
        "y": 600,
        "wires": []
    },
    {
        "id": "ba59023e.68e04",
        "type": "comment",
        "z": "b4be1bf1.59bee8",
        "name": "verbinden (dauert ca. 3s)",
        "info": "",
        "x": 170,
        "y": 280,
        "wires": []
    },
    {
        "id": "10e6ee2d.be4512",
        "type": "comment",
        "z": "b4be1bf1.59bee8",
        "name": "Status abfragen",
        "info": "",
        "x": 140,
        "y": 320,
        "wires": []
    },
    {
        "id": "99011097.a5c79",
        "type": "comment",
        "z": "b4be1bf1.59bee8",
        "name": "Solltemperatur 14,5° einstellen",
        "info": "",
        "x": 190,
        "y": 440,
        "wires": []
    },
    {
        "id": "d1596400.622258",
        "type": "comment",
        "z": "b4be1bf1.59bee8",
        "name": "Mode \"manu\"",
        "info": "",
        "x": 130,
        "y": 400,
        "wires": []
    },
    {
        "id": "47ca6a41.7d0024",
        "type": "comment",
        "z": "b4be1bf1.59bee8",
        "name": "(zurück zu Mode \"auto\")",
        "info": "",
        "x": 190,
        "y": 480,
        "wires": []
    },
    {
        "id": "4aef4604.3d0bb8",
        "type": "comment",
        "z": "b4be1bf1.59bee8",
        "name": "disconnect",
        "info": "",
        "x": 120,
        "y": 520,
        "wires": []
    },
    {
        "id": "629391a8.61994",
        "type": "comment",
        "z": "b4be1bf1.59bee8",
        "name": "Programm von Dienstag",
        "info": "",
        "x": 170,
        "y": 360,
        "wires": []
    },
    {
        "id": "abfd3af8.3ad0b8",
        "type": "inject",
        "z": "b4be1bf1.59bee8",
        "name": "char-write-req 0411 2002",
        "topic": "",
        "payload": "char-write-req 0411 2002",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 490,
        "y": 360,
        "wires": [
            [
                "4993d777.8aa9e8"
            ]
        ]
    },
    {
        "id": "c115705c.00884",
        "type": "inject",
        "z": "b4be1bf1.59bee8",
        "name": "Restart gatttool",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 180,
        "y": 720,
        "wires": [
            [
                "4524fd24.ac28e4"
            ]
        ]
    },
    {
        "id": "4524fd24.ac28e4",
        "type": "function",
        "z": "b4be1bf1.59bee8",
        "name": "msg.kill=\"SIGQUIT\";",
        "func": "delete msg.payload;\nmsg.kill=\"SIGQUIT\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 720,
        "wires": [
            [
                "2beb4749.77c788"
            ]
        ]
    },
    {
        "id": "2beb4749.77c788",
        "type": "link out",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "links": [
            "1fd93aab.4ddaa5"
        ],
        "x": 575,
        "y": 720,
        "wires": []
    },
    {
        "id": "c189ac54.27fde",
        "type": "comment",
        "z": "b4be1bf1.59bee8",
        "name": "alles über Websocket steuern",
        "info": "",
        "x": 120,
        "y": 800,
        "wires": []
    },
    {
        "id": "88f6b998.ee7b38",
        "type": "websocket in",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "server": "fd622c93.69a77",
        "client": "",
        "x": 160,
        "y": 840,
        "wires": [
            [
                "8d8cb496.89cd18"
            ]
        ]
    },
    {
        "id": "9a346897.bb2248",
        "type": "websocket out",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "server": "fd622c93.69a77",
        "client": "",
        "x": 520,
        "y": 840,
        "wires": []
    },
    {
        "id": "8d8cb496.89cd18",
        "type": "link out",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "links": [
            "1fd93aab.4ddaa5"
        ],
        "x": 295,
        "y": 840,
        "wires": []
    },
    {
        "id": "13e47c28.8e6cc4",
        "type": "link in",
        "z": "b4be1bf1.59bee8",
        "name": "output von gatttool",
        "links": [
            "d671fd42.3caae"
        ],
        "x": 375,
        "y": 840,
        "wires": [
            [
                "9a346897.bb2248"
            ]
        ]
    },
    {
        "id": "d671fd42.3caae",
        "type": "link out",
        "z": "b4be1bf1.59bee8",
        "name": "stdout von gatttool -I",
        "links": [
            "13e47c28.8e6cc4"
        ],
        "x": 435,
        "y": 640,
        "wires": []
    },
    {
        "id": "5c46f058.bc832",
        "type": "comment",
        "z": "b4be1bf1.59bee8",
        "name": "(nicht vergessen: nach Neustart des Raspberry PI im Desktop pairen und gleich wieder trennen)",
        "info": "",
        "x": 410,
        "y": 20,
        "wires": []
    },
    {
        "id": "f87bf7a3.bf8e58",
        "type": "inject",
        "z": "b4be1bf1.59bee8",
        "name": "connect 00:1A:22:0B:F9:D1",
        "topic": "",
        "payload": "connect 00:1A:22:0B:F9:D1",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 500,
        "y": 280,
        "wires": [
            [
                "4993d777.8aa9e8"
            ]
        ]
    },
    {
        "id": "2f7cfd7b.d33812",
        "type": "file",
        "z": "b4be1bf1.59bee8",
        "name": "logfile.txt",
        "filename": "logfile.txt",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "false",
        "x": 480,
        "y": 600,
        "wires": []
    },
    {
        "id": "5194d21d.eeebfc",
        "type": "eq3-bluetooth",
        "z": "b4be1bf1.59bee8",
        "eq3device": "00:1A:22:0B:F9:D1",
        "x": 350,
        "y": 960,
        "wires": [
            [
                "491e4354.a6951c"
            ]
        ]
    },
    {
        "id": "ae5bc6f4.09f188",
        "type": "inject",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 140,
        "y": 960,
        "wires": [
            [
                "5194d21d.eeebfc"
            ]
        ]
    },
    {
        "id": "491e4354.a6951c",
        "type": "debug",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 560,
        "y": 960,
        "wires": []
    },
    {
        "id": "24b8d2f0.19013e",
        "type": "comment",
        "z": "b4be1bf1.59bee8",
        "name": "es gibt auch einen fertigen EQ3-Node, aber der geht nicht",
        "info": "",
        "x": 210,
        "y": 920,
        "wires": []
    },
    {
        "id": "4acbaae3.13eda4",
        "type": "ui_switch",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "label": "switch",
        "group": "dab61bb7.6132a8",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 220,
        "y": 1100,
        "wires": [
            [
                "dd055b72.14ef58",
                "cba64e78.021aa"
            ]
        ]
    },
    {
        "id": "dd055b72.14ef58",
        "type": "debug",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 430,
        "y": 1100,
        "wires": []
    },
    {
        "id": "a73dc4ac.0cc958",
        "type": "comment",
        "z": "b4be1bf1.59bee8",
        "name": "und es gibt auch eine Grafik-Oberfläche, aufzurufen als http://....:1880/ui/",
        "info": "",
        "x": 260,
        "y": 1060,
        "wires": []
    },
    {
        "id": "cba64e78.021aa",
        "type": "switch",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "jsonata"
            },
            {
                "t": "eq",
                "v": "false",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 450,
        "y": 1160,
        "wires": [
            [
                "9c3e623c.ddd2d",
                "c829009c.aa7f9"
            ],
            [
                "c829009c.aa7f9",
                "99cbd66.56d1628"
            ]
        ],
        "icon": "node-red/alert.png"
    },
    {
        "id": "62b4067a.ee3208",
        "type": "delay",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1760,
        "y": 120,
        "wires": [
            [
                "8f396262.ca3c4"
            ]
        ]
    },
    {
        "id": "8f396262.ca3c4",
        "type": "template",
        "z": "b4be1bf1.59bee8",
        "name": "disconnect",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "disconnect 00:1A:22:0B:F9:D1",
        "output": "str",
        "x": 1950,
        "y": 120,
        "wires": [
            [
                "8bfd293.995bfd8"
            ]
        ]
    },
    {
        "id": "8bfd293.995bfd8",
        "type": "link out",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "links": [
            "1fd93aab.4ddaa5"
        ],
        "x": 2095,
        "y": 160,
        "wires": []
    },
    {
        "id": "c829009c.aa7f9",
        "type": "debug",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 630,
        "y": 1160,
        "wires": []
    },
    {
        "id": "43c03011.97cf5",
        "type": "inject",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 230,
        "y": 1180,
        "wires": [
            [
                "cba64e78.021aa"
            ]
        ]
    },
    {
        "id": "c3b198a4.9df2d8",
        "type": "inject",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 230,
        "y": 1220,
        "wires": [
            [
                "cba64e78.021aa"
            ]
        ]
    },
    {
        "id": "99cbd66.56d1628",
        "type": "template",
        "z": "b4be1bf1.59bee8",
        "name": "connect",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "connect 00:1A:22:0B:F9:D1",
        "output": "str",
        "x": 160,
        "y": 1320,
        "wires": [
            [
                "df1f6a8.b81a898",
                "eca91c29.a07d3"
            ]
        ]
    },
    {
        "id": "df1f6a8.b81a898",
        "type": "delay",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 360,
        "y": 1320,
        "wires": [
            [
                "ec48e44a.11e598"
            ]
        ]
    },
    {
        "id": "ec48e44a.11e598",
        "type": "template",
        "z": "b4be1bf1.59bee8",
        "name": "manu mode",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "char-write-req 0411 4040",
        "output": "str",
        "x": 550,
        "y": 1320,
        "wires": [
            [
                "15f994de.d25bdb",
                "d86b41eb.c81a8"
            ]
        ]
    },
    {
        "id": "d86b41eb.c81a8",
        "type": "delay",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 740,
        "y": 1320,
        "wires": [
            [
                "308587a7.c629d8"
            ]
        ]
    },
    {
        "id": "b6b98351.495a",
        "type": "template",
        "z": "b4be1bf1.59bee8",
        "name": "disconnect",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "disconnect 00:1A:22:0B:F9:D1",
        "output": "str",
        "x": 1250,
        "y": 1320,
        "wires": [
            [
                "3a70e828.eb3488"
            ]
        ]
    },
    {
        "id": "3a70e828.eb3488",
        "type": "link out",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "links": [
            "1fd93aab.4ddaa5"
        ],
        "x": 1175,
        "y": 1360,
        "wires": []
    },
    {
        "id": "15f994de.d25bdb",
        "type": "link out",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "links": [
            "1fd93aab.4ddaa5"
        ],
        "x": 715,
        "y": 1360,
        "wires": []
    },
    {
        "id": "eca91c29.a07d3",
        "type": "link out",
        "z": "b4be1bf1.59bee8",
        "name": "zu gatttool schicken",
        "links": [
            "1fd93aab.4ddaa5"
        ],
        "x": 315,
        "y": 1360,
        "wires": []
    },
    {
        "id": "308587a7.c629d8",
        "type": "template",
        "z": "b4be1bf1.59bee8",
        "name": "14,5°",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "char-write-req 0411 411d",
        "output": "str",
        "x": 890,
        "y": 1320,
        "wires": [
            [
                "617d12c.da3adec",
                "ec1b245a.24f9c8"
            ]
        ]
    },
    {
        "id": "617d12c.da3adec",
        "type": "link out",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "links": [
            "1fd93aab.4ddaa5"
        ],
        "x": 1020,
        "y": 1359,
        "wires": []
    },
    {
        "id": "ec1b245a.24f9c8",
        "type": "delay",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1080,
        "y": 1320,
        "wires": [
            [
                "b6b98351.495a"
            ]
        ]
    }
]