.node-red/flows_Heizung.json
[
    {
        "id": "b4be1bf1.59bee8",
        "type": "tab",
        "label": "Flow 1"
    },
    {
        "id": "fd622c93.69a77",
        "type": "websocket-listener",
        "z": "",
        "path": "/ws/gatttool",
        "wholemsg": "false"
    },
    {
        "id": "dab61bb7.6132a8",
        "type": "ui_group",
        "z": "",
        "name": "Heizung aus/an",
        "tab": "e7e54e49.20fde",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "e7e54e49.20fde",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard"
    },
    {
        "id": "b45e7a54.018a28",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "94bc45e.4f5eeb8",
        "type": "websocket-listener",
        "z": "",
        "path": "/ws/neue_Email_da",
        "wholemsg": "true"
    },
    {
        "id": "e3afe0ef.4923f",
        "type": "debug",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 650,
        "y": 860,
        "wires": []
    },
    {
        "id": "97d3725d.6888b",
        "type": "daemon",
        "z": "b4be1bf1.59bee8",
        "command": "gatttool",
        "args": "-I",
        "cr": true,
        "redo": true,
        "op": "string",
        "name": "gatttool -I",
        "x": 400,
        "y": 840,
        "wires": [
            [
                "e3afe0ef.4923f",
                "d671fd42.3caae",
                "2f7cfd7b.d33812",
                "ade4342e.019f58"
            ],
            [
                "e3afe0ef.4923f"
            ],
            [
                "e3afe0ef.4923f"
            ]
        ]
    },
    {
        "id": "914f63c8.58cac",
        "type": "inject",
        "z": "b4be1bf1.59bee8",
        "name": "char-write-req 0411 03",
        "topic": "",
        "payload": "char-write-req 0411 03",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 480,
        "y": 500,
        "wires": [
            [
                "4993d777.8aa9e8"
            ]
        ]
    },
    {
        "id": "7856e0e8.9a52f",
        "type": "inject",
        "z": "b4be1bf1.59bee8",
        "name": "disconnect 00:1A:22:0B:F9:D1",
        "topic": "",
        "payload": "disconnect 00:1A:22:0B:F9:D1",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 510,
        "y": 700,
        "wires": [
            [
                "4993d777.8aa9e8"
            ]
        ]
    },
    {
        "id": "adc2c093.9bd9",
        "type": "inject",
        "z": "b4be1bf1.59bee8",
        "name": "char-write-req 0411 411d",
        "topic": "",
        "payload": "char-write-req 0411 411d",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 490,
        "y": 620,
        "wires": [
            [
                "4993d777.8aa9e8"
            ]
        ]
    },
    {
        "id": "2c4034d8.fe76dc",
        "type": "inject",
        "z": "b4be1bf1.59bee8",
        "name": "char-write-req 0411 4040",
        "topic": "",
        "payload": "char-write-req 0411 4040",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 490,
        "y": 580,
        "wires": [
            [
                "4993d777.8aa9e8"
            ]
        ]
    },
    {
        "id": "8ad1ede1.0167",
        "type": "inject",
        "z": "b4be1bf1.59bee8",
        "name": "char-write-req 0411 4000",
        "topic": "",
        "payload": "char-write-req 0411 4000",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 510,
        "y": 660,
        "wires": [
            [
                "4993d777.8aa9e8"
            ]
        ]
    },
    {
        "id": "116759e4.aa4fa6",
        "type": "e-mail in",
        "z": "b4be1bf1.59bee8",
        "name": "ungelesene Emails abfragen",
        "protocol": "IMAP",
        "server": "imap.gmail.com",
        "useSSL": true,
        "port": "993",
        "box": "INBOX",
        "disposition": "None",
        "repeat": "300",
        "x": 120,
        "y": 120,
        "wires": [
            [
                "44ecd0fb.0396b"
            ]
        ]
    },
    {
        "id": "9c3e623c.ddd2d",
        "type": "template",
        "z": "b4be1bf1.59bee8",
        "name": "connect",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "connect 00:1A:22:0B:F9:D1",
        "output": "str",
        "x": 440,
        "y": 220,
        "wires": [
            [
                "82ccc39.71c2a4",
                "6b3b465.cf738b8"
            ]
        ]
    },
    {
        "id": "a8f69b17.d49a28",
        "type": "template",
        "z": "b4be1bf1.59bee8",
        "name": "auto mode",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "char-write-req 0411 4000",
        "output": "str",
        "x": 830,
        "y": 220,
        "wires": [
            [
                "6ab53bd9.f82904",
                "62b4067a.ee3208"
            ]
        ]
    },
    {
        "id": "82ccc39.71c2a4",
        "type": "delay",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 640,
        "y": 220,
        "wires": [
            [
                "a8f69b17.d49a28"
            ]
        ]
    },
    {
        "id": "65fa44ca.cb1d5c",
        "type": "inject",
        "z": "b4be1bf1.59bee8",
        "name": "Test",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 270,
        "y": 260,
        "wires": [
            [
                "9c3e623c.ddd2d"
            ]
        ]
    },
    {
        "id": "de502380.c110b",
        "type": "rbe",
        "z": "b4be1bf1.59bee8",
        "name": "nur einmal je Email",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 930,
        "y": 120,
        "wires": [
            [
                "4b46fce5.5091e4"
            ]
        ]
    },
    {
        "id": "caa5e213.3605c",
        "type": "debug",
        "z": "b4be1bf1.59bee8",
        "name": "debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 930,
        "y": 160,
        "wires": []
    },
    {
        "id": "5efdc9ba.edab58",
        "type": "function",
        "z": "b4be1bf1.59bee8",
        "name": "nur \"Re: Heizungsraspberrypi.\"",
        "func": "if (msg.topic==\"Re: Heizungsraspberrypi.\") {\n  msg.payload=msg.payload+msg.date;\n  return msg;\n  }\n",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 120,
        "wires": [
            [
                "de502380.c110b"
            ]
        ]
    },
    {
        "id": "1fd93aab.4ddaa5",
        "type": "link in",
        "z": "b4be1bf1.59bee8",
        "name": "stdin zu gatttool -I",
        "links": [
            "2beb4749.77c788",
            "4993d777.8aa9e8",
            "6ab53bd9.f82904",
            "6b3b465.cf738b8",
            "8d8cb496.89cd18",
            "8bfd293.995bfd8",
            "3a70e828.eb3488",
            "15f994de.d25bdb",
            "eca91c29.a07d3",
            "617d12c.da3adec"
        ],
        "x": 135,
        "y": 840,
        "wires": [
            [
                "97d3725d.6888b"
            ]
        ]
    },
    {
        "id": "6ab53bd9.f82904",
        "type": "link out",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "links": [
            "1fd93aab.4ddaa5"
        ],
        "x": 975,
        "y": 260,
        "wires": []
    },
    {
        "id": "6b3b465.cf738b8",
        "type": "link out",
        "z": "b4be1bf1.59bee8",
        "name": "zu gatttool schicken",
        "links": [
            "1fd93aab.4ddaa5"
        ],
        "x": 595,
        "y": 260,
        "wires": []
    },
    {
        "id": "9eefd5e2.1050d8",
        "type": "comment",
        "z": "b4be1bf1.59bee8",
        "name": "Testeingaben laut https://github.com/Heckie75/eQ-3-radiador-thermostat/blob/master/eQ-3-radiator-thermostat-api.m",
        "info": "",
        "x": 400,
        "y": 420,
        "wires": []
    },
    {
        "id": "4993d777.8aa9e8",
        "type": "link out",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "links": [
            "1fd93aab.4ddaa5"
        ],
        "x": 788.333330154419,
        "y": 560,
        "wires": []
    },
    {
        "id": "d7b4d598.fafbe8",
        "type": "comment",
        "z": "b4be1bf1.59bee8",
        "name": "hier wird das \"gatttool -I\" ausgeführt",
        "info": "",
        "x": 140,
        "y": 780,
        "wires": []
    },
    {
        "id": "ba59023e.68e04",
        "type": "comment",
        "z": "b4be1bf1.59bee8",
        "name": "verbinden (dauert ca. 3s)",
        "info": "",
        "x": 170,
        "y": 460,
        "wires": []
    },
    {
        "id": "10e6ee2d.be4512",
        "type": "comment",
        "z": "b4be1bf1.59bee8",
        "name": "Status abfragen",
        "info": "",
        "x": 140,
        "y": 500,
        "wires": []
    },
    {
        "id": "99011097.a5c79",
        "type": "comment",
        "z": "b4be1bf1.59bee8",
        "name": "Solltemperatur 14,5° einstellen",
        "info": "",
        "x": 190,
        "y": 620,
        "wires": []
    },
    {
        "id": "d1596400.622258",
        "type": "comment",
        "z": "b4be1bf1.59bee8",
        "name": "Mode \"manu\"",
        "info": "",
        "x": 130,
        "y": 580,
        "wires": []
    },
    {
        "id": "47ca6a41.7d0024",
        "type": "comment",
        "z": "b4be1bf1.59bee8",
        "name": "(zurück zu Mode \"auto\")",
        "info": "",
        "x": 190,
        "y": 660,
        "wires": []
    },
    {
        "id": "4aef4604.3d0bb8",
        "type": "comment",
        "z": "b4be1bf1.59bee8",
        "name": "disconnect",
        "info": "",
        "x": 120,
        "y": 700,
        "wires": []
    },
    {
        "id": "629391a8.61994",
        "type": "comment",
        "z": "b4be1bf1.59bee8",
        "name": "Programm von Dienstag",
        "info": "",
        "x": 170,
        "y": 540,
        "wires": []
    },
    {
        "id": "abfd3af8.3ad0b8",
        "type": "inject",
        "z": "b4be1bf1.59bee8",
        "name": "char-write-req 0411 2002",
        "topic": "",
        "payload": "char-write-req 0411 2002",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 490,
        "y": 540,
        "wires": [
            [
                "4993d777.8aa9e8"
            ]
        ]
    },
    {
        "id": "c115705c.00884",
        "type": "inject",
        "z": "b4be1bf1.59bee8",
        "name": "Restart gatttool",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 180,
        "y": 900,
        "wires": [
            [
                "4524fd24.ac28e4"
            ]
        ]
    },
    {
        "id": "4524fd24.ac28e4",
        "type": "function",
        "z": "b4be1bf1.59bee8",
        "name": "msg.kill=\"SIGQUIT\";",
        "func": "delete msg.payload;\nmsg.kill=\"SIGQUIT\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 900,
        "wires": [
            [
                "2beb4749.77c788"
            ]
        ]
    },
    {
        "id": "2beb4749.77c788",
        "type": "link out",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "links": [
            "1fd93aab.4ddaa5"
        ],
        "x": 575,
        "y": 900,
        "wires": []
    },
    {
        "id": "c189ac54.27fde",
        "type": "comment",
        "z": "b4be1bf1.59bee8",
        "name": "Möglichkeit, alles über Websocket zu steuern",
        "info": "",
        "x": 170,
        "y": 1000,
        "wires": []
    },
    {
        "id": "88f6b998.ee7b38",
        "type": "websocket in",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "server": "fd622c93.69a77",
        "client": "",
        "x": 160,
        "y": 1040,
        "wires": [
            [
                "8d8cb496.89cd18"
            ]
        ]
    },
    {
        "id": "9a346897.bb2248",
        "type": "websocket out",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "server": "fd622c93.69a77",
        "client": "",
        "x": 520,
        "y": 1040,
        "wires": []
    },
    {
        "id": "8d8cb496.89cd18",
        "type": "link out",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "links": [
            "1fd93aab.4ddaa5"
        ],
        "x": 295,
        "y": 1040,
        "wires": []
    },
    {
        "id": "13e47c28.8e6cc4",
        "type": "link in",
        "z": "b4be1bf1.59bee8",
        "name": "output von gatttool",
        "links": [
            "d671fd42.3caae"
        ],
        "x": 375,
        "y": 1040,
        "wires": [
            [
                "9a346897.bb2248"
            ]
        ]
    },
    {
        "id": "d671fd42.3caae",
        "type": "link out",
        "z": "b4be1bf1.59bee8",
        "name": "stdout von gatttool -I",
        "links": [
            "13e47c28.8e6cc4"
        ],
        "x": 595,
        "y": 820,
        "wires": []
    },
    {
        "id": "f87bf7a3.bf8e58",
        "type": "inject",
        "z": "b4be1bf1.59bee8",
        "name": "connect 00:1A:22:0B:F9:D1",
        "topic": "",
        "payload": "connect 00:1A:22:0B:F9:D1",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 500,
        "y": 460,
        "wires": [
            [
                "4993d777.8aa9e8"
            ]
        ]
    },
    {
        "id": "2f7cfd7b.d33812",
        "type": "file",
        "z": "b4be1bf1.59bee8",
        "name": "logfile.txt",
        "filename": "logfile.txt",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "false",
        "x": 680,
        "y": 800,
        "wires": []
    },
    {
        "id": "5194d21d.eeebfc",
        "type": "eq3-bluetooth",
        "z": "b4be1bf1.59bee8",
        "eq3device": "00:1A:22:0B:F9:D1 geht nicht",
        "x": 390,
        "y": 1120,
        "wires": [
            [
                "491e4354.a6951c"
            ]
        ]
    },
    {
        "id": "ae5bc6f4.09f188",
        "type": "inject",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 140,
        "y": 1120,
        "wires": [
            [
                "5194d21d.eeebfc"
            ]
        ]
    },
    {
        "id": "491e4354.a6951c",
        "type": "debug",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 630,
        "y": 1120,
        "wires": []
    },
    {
        "id": "24b8d2f0.19013e",
        "type": "comment",
        "z": "b4be1bf1.59bee8",
        "name": "es gibt auch einen fertigen EQ3-Node, aber der geht nicht",
        "info": "",
        "x": 210,
        "y": 1080,
        "wires": []
    },
    {
        "id": "4acbaae3.13eda4",
        "type": "ui_switch",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "label": "switch",
        "group": "dab61bb7.6132a8",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 210,
        "y": 1240,
        "wires": [
            [
                "dd055b72.14ef58",
                "daa383c5.5ede9"
            ]
        ]
    },
    {
        "id": "dd055b72.14ef58",
        "type": "debug",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 420,
        "y": 1240,
        "wires": []
    },
    {
        "id": "a73dc4ac.0cc958",
        "type": "comment",
        "z": "b4be1bf1.59bee8",
        "name": "dashboard-Grafik-Oberfläche, aufzurufen als http://....:1880/ui/",
        "info": "",
        "x": 220,
        "y": 1200,
        "wires": []
    },
    {
        "id": "cba64e78.021aa",
        "type": "switch",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "jsonata"
            },
            {
                "t": "eq",
                "v": "false",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 440,
        "y": 1320,
        "wires": [
            [
                "c829009c.aa7f9",
                "7c0b40fb.3bb4d"
            ],
            [
                "c829009c.aa7f9",
                "81b0bf8f.ac8c2"
            ]
        ],
        "icon": "node-red/alert.png"
    },
    {
        "id": "62b4067a.ee3208",
        "type": "delay",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1020,
        "y": 220,
        "wires": [
            [
                "8f396262.ca3c4"
            ]
        ]
    },
    {
        "id": "8f396262.ca3c4",
        "type": "template",
        "z": "b4be1bf1.59bee8",
        "name": "disconnect",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "disconnect 00:1A:22:0B:F9:D1",
        "output": "str",
        "x": 1190,
        "y": 220,
        "wires": [
            [
                "8bfd293.995bfd8"
            ]
        ]
    },
    {
        "id": "8bfd293.995bfd8",
        "type": "link out",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "links": [
            "1fd93aab.4ddaa5"
        ],
        "x": 1315,
        "y": 260,
        "wires": []
    },
    {
        "id": "c829009c.aa7f9",
        "type": "debug",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 680,
        "y": 1320,
        "wires": []
    },
    {
        "id": "43c03011.97cf5",
        "type": "inject",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 220,
        "y": 1320,
        "wires": [
            [
                "cba64e78.021aa"
            ]
        ]
    },
    {
        "id": "c3b198a4.9df2d8",
        "type": "inject",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 220,
        "y": 1360,
        "wires": [
            [
                "cba64e78.021aa"
            ]
        ]
    },
    {
        "id": "99cbd66.56d1628",
        "type": "template",
        "z": "b4be1bf1.59bee8",
        "name": "connect",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "connect 00:1A:22:0B:F9:D1",
        "output": "str",
        "x": 440,
        "y": 320,
        "wires": [
            [
                "df1f6a8.b81a898",
                "eca91c29.a07d3"
            ]
        ]
    },
    {
        "id": "df1f6a8.b81a898",
        "type": "delay",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 640,
        "y": 320,
        "wires": [
            [
                "ec48e44a.11e598"
            ]
        ]
    },
    {
        "id": "ec48e44a.11e598",
        "type": "template",
        "z": "b4be1bf1.59bee8",
        "name": "manu mode",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "char-write-req 0411 4040",
        "output": "str",
        "x": 830,
        "y": 320,
        "wires": [
            [
                "15f994de.d25bdb",
                "d86b41eb.c81a8"
            ]
        ]
    },
    {
        "id": "d86b41eb.c81a8",
        "type": "delay",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1020,
        "y": 320,
        "wires": [
            [
                "308587a7.c629d8"
            ]
        ]
    },
    {
        "id": "b6b98351.495a",
        "type": "template",
        "z": "b4be1bf1.59bee8",
        "name": "disconnect",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "disconnect 00:1A:22:0B:F9:D1",
        "output": "str",
        "x": 1530,
        "y": 320,
        "wires": [
            [
                "3a70e828.eb3488"
            ]
        ]
    },
    {
        "id": "3a70e828.eb3488",
        "type": "link out",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "links": [
            "1fd93aab.4ddaa5"
        ],
        "x": 1675,
        "y": 360,
        "wires": []
    },
    {
        "id": "15f994de.d25bdb",
        "type": "link out",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "links": [
            "1fd93aab.4ddaa5"
        ],
        "x": 975,
        "y": 360,
        "wires": []
    },
    {
        "id": "eca91c29.a07d3",
        "type": "link out",
        "z": "b4be1bf1.59bee8",
        "name": "zu gatttool schicken",
        "links": [
            "1fd93aab.4ddaa5"
        ],
        "x": 595,
        "y": 360,
        "wires": []
    },
    {
        "id": "308587a7.c629d8",
        "type": "template",
        "z": "b4be1bf1.59bee8",
        "name": "14,5°",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "char-write-req 0411 411d",
        "output": "str",
        "x": 1170,
        "y": 320,
        "wires": [
            [
                "617d12c.da3adec",
                "ec1b245a.24f9c8"
            ]
        ]
    },
    {
        "id": "617d12c.da3adec",
        "type": "link out",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "links": [
            "1fd93aab.4ddaa5"
        ],
        "x": 1315,
        "y": 360,
        "wires": []
    },
    {
        "id": "ec1b245a.24f9c8",
        "type": "delay",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1360,
        "y": 320,
        "wires": [
            [
                "b6b98351.495a"
            ]
        ]
    },
    {
        "id": "daa383c5.5ede9",
        "type": "delay",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "40",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 310,
        "y": 1280,
        "wires": [
            [
                "cba64e78.021aa"
            ]
        ]
    },
    {
        "id": "25c89d7c.633032",
        "type": "ui_text",
        "z": "b4be1bf1.59bee8",
        "group": "dab61bb7.6132a8",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "(mehrere aufeinanderfolgende switch werden in 40-Sekunden-Intervallen weitergesendet, damit nichts durcheinanderkommt)",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 580,
        "y": 1400,
        "wires": []
    },
    {
        "id": "99bf6a33.675b68",
        "type": "link in",
        "z": "b4be1bf1.59bee8",
        "name": "Schaltprogramm \"Heizung aus\"",
        "links": [
            "81b0bf8f.ac8c2",
            "541fd22c.97427c"
        ],
        "x": 315,
        "y": 320,
        "wires": [
            [
                "99cbd66.56d1628"
            ]
        ]
    },
    {
        "id": "81b0bf8f.ac8c2",
        "type": "link out",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "links": [
            "99bf6a33.675b68"
        ],
        "x": 585,
        "y": 1340,
        "wires": []
    },
    {
        "id": "4a639b42.013644",
        "type": "comment",
        "z": "b4be1bf1.59bee8",
        "name": "Schaltprogramm \"Heizung aus\"",
        "info": "",
        "x": 130,
        "y": 320,
        "wires": []
    },
    {
        "id": "4d2540eb.95b27",
        "type": "link out",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "links": [
            "6384e70d.a8f688",
            "84ff3fc9.6fe5f"
        ],
        "x": 1515,
        "y": 220,
        "wires": []
    },
    {
        "id": "6384e70d.a8f688",
        "type": "link in",
        "z": "b4be1bf1.59bee8",
        "name": "Schaltprogramm \"Heizung an\"",
        "links": [
            "4d2540eb.95b27",
            "7c0b40fb.3bb4d"
        ],
        "x": 315,
        "y": 220,
        "wires": [
            [
                "9c3e623c.ddd2d"
            ]
        ]
    },
    {
        "id": "7c0b40fb.3bb4d",
        "type": "link out",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "links": [
            "6384e70d.a8f688",
            "84ff3fc9.6fe5f"
        ],
        "x": 585,
        "y": 1300,
        "wires": []
    },
    {
        "id": "fcece4bb.686808",
        "type": "comment",
        "z": "b4be1bf1.59bee8",
        "name": "Schaltprogramm \"Heizung an\"",
        "info": "",
        "x": 130,
        "y": 220,
        "wires": []
    },
    {
        "id": "8bd475c1.3495f8",
        "type": "inject",
        "z": "b4be1bf1.59bee8",
        "name": "Test",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 270,
        "y": 360,
        "wires": [
            [
                "99cbd66.56d1628"
            ]
        ]
    },
    {
        "id": "bc5bb738.811228",
        "type": "comment",
        "z": "b4be1bf1.59bee8",
        "name": "https://github.com/OpaStefanVogel/HEIZUNGSPI.git",
        "info": "",
        "x": 190,
        "y": 1720,
        "wires": []
    },
    {
        "id": "4997ff11.783a8",
        "type": "delay",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "40",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1160,
        "y": 120,
        "wires": [
            [
                "1b4d0fb0.2e75a",
                "4a48a70b.1ac828"
            ]
        ]
    },
    {
        "id": "6f78ab0f.6840f4",
        "type": "comment",
        "z": "b4be1bf1.59bee8",
        "name": "Restart wenn gatttool sich verheddert hat",
        "info": "",
        "x": 780,
        "y": 900,
        "wires": []
    },
    {
        "id": "f4082890.b410e8",
        "type": "comment",
        "z": "b4be1bf1.59bee8",
        "name": "← diese oder irgendeine andere Eingabe verhunzt das Datum am Thermostat",
        "info": "",
        "x": 880,
        "y": 500,
        "wires": []
    },
    {
        "id": "b0c9bac1.d8b618",
        "type": "tail",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "filetype": "text",
        "split": true,
        "filename": "logfile.txt",
        "x": 250,
        "y": 960,
        "wires": [
            [
                "124ab371.d2378d"
            ]
        ]
    },
    {
        "id": "124ab371.d2378d",
        "type": "debug",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 470,
        "y": 960,
        "wires": []
    },
    {
        "id": "b9bd0cc7.b140f",
        "type": "websocket out",
        "z": "b4be1bf1.59bee8",
        "name": "zum Lautsprecher: \"neue_Email_da\"",
        "server": "94bc45e.4f5eeb8",
        "client": "",
        "x": 690,
        "y": 160,
        "wires": []
    },
    {
        "id": "ca5d3e49.67dcc",
        "type": "inject",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 70,
        "y": 1240,
        "wires": [
            [
                "4acbaae3.13eda4"
            ]
        ]
    },
    {
        "id": "2a543096.ee9cf",
        "type": "inject",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 70,
        "y": 1280,
        "wires": [
            [
                "4acbaae3.13eda4"
            ]
        ]
    },
    {
        "id": "31dbcae2.8db166",
        "type": "e-mail",
        "z": "b4be1bf1.59bee8",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "name": "",
        "dname": "Re: Heizungsraspberrypi.",
        "x": 2110,
        "y": 120,
        "wires": []
    },
    {
        "id": "210e765f.6d6f3a",
        "type": "debug",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1850,
        "y": 160,
        "wires": []
    },
    {
        "id": "3a9dad2c.52b062",
        "type": "function",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "func": "var msgneu={};\nmsgneu.to=msg.from;\nmsgneu.topic=msg.topic;\nmsgneu.payload=\"automatisch erzeugte Email vom Heizungsraspberrypi\\n\\n\";\nvar notifications=global.get(\"notifications\");\nfor (var i=0;i<notifications.length;i++) {\n  msgneu.payload+=notifications[i]+\"\\n\";\n  }\nmsgneu.payload+=\"\\n\"+\"Antwort auf Email \"+msg.date;\nreturn msgneu;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1650,
        "y": 120,
        "wires": [
            [
                "210e765f.6d6f3a",
                "949c60d0.afd2a",
                "55a6f98b.1167a8"
            ]
        ]
    },
    {
        "id": "ade4342e.019f58",
        "type": "function",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "func": "var t=msg.payload;\nvar notifications=global.get(\"notifications\")||[];\nvar d=new Date();\nvar ind=t.indexOf(\"Notification\");\nvar tneu=d.toString()+\"  \"+t.slice(ind,ind+53);\nif (ind>-1) notifications.push(tneu);\nwhile (notifications.length>8) notifications.shift(t);\nglobal.set(\"notifications\",notifications);\nif (ind>-1) {\n  msg.payload=tneu;\n  return msg;\n  }",
        "outputs": 1,
        "noerr": 0,
        "x": 600,
        "y": 760,
        "wires": [
            [
                "1f10c6ac.a03779"
            ]
        ]
    },
    {
        "id": "505caeb6.af31a",
        "type": "inject",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "topic": "",
        "payload": " Notification Test 14,5 °C",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 390,
        "y": 760,
        "wires": [
            [
                "ade4342e.019f58"
            ]
        ]
    },
    {
        "id": "949c60d0.afd2a",
        "type": "file",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "filename": "Testemail.txt",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "x": 1870,
        "y": 200,
        "wires": []
    },
    {
        "id": "1b4d0fb0.2e75a",
        "type": "delay",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "pauseType": "delay",
        "timeout": "120",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1430,
        "y": 120,
        "wires": [
            [
                "3a9dad2c.52b062"
            ]
        ]
    },
    {
        "id": "55a6f98b.1167a8",
        "type": "delay",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "pauseType": "delay",
        "timeout": "120",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1850,
        "y": 120,
        "wires": [
            [
                "31dbcae2.8db166"
            ]
        ]
    },
    {
        "id": "44ecd0fb.0396b",
        "type": "delay",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 400,
        "y": 120,
        "wires": [
            [
                "5efdc9ba.edab58",
                "caa5e213.3605c",
                "b9bd0cc7.b140f"
            ]
        ]
    },
    {
        "id": "4e072f4c.d6b39",
        "type": "comment",
        "z": "b4be1bf1.59bee8",
        "name": "ab hier Email beantworten",
        "info": "",
        "x": 1390,
        "y": 80,
        "wires": []
    },
    {
        "id": "738a67a0.e56a78",
        "type": "function",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "func": "msg=msg.payload;\nvar t=new Date();\nmsg.date=t.toString();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 790,
        "y": 20,
        "wires": [
            [
                "4b46fce5.5091e4"
            ]
        ]
    },
    {
        "id": "1f10c6ac.a03779",
        "type": "file",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "filename": "Notifications.txt",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "x": 800,
        "y": 760,
        "wires": []
    },
    {
        "id": "a7411384.8dcc1",
        "type": "file",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "filename": "empfangeneEmail.txt",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "x": 380,
        "y": 180,
        "wires": []
    },
    {
        "id": "34c15fc4.ae246",
        "type": "json",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 390,
        "y": 160,
        "wires": [
            [
                "a7411384.8dcc1"
            ]
        ]
    },
    {
        "id": "9306fda7.f656e",
        "type": "function",
        "z": "b4be1bf1.59bee8",
        "name": "Bei Fehlersuche speichern",
        "func": "var ret={};\nret.payload=msg;\nreturn ret;",
        "outputs": 1,
        "noerr": 0,
        "x": 160,
        "y": 160,
        "wires": [
            [
                "34c15fc4.ae246"
            ]
        ]
    },
    {
        "id": "c7d35f03.4c7f7",
        "type": "file in",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "filename": "Schluessel.txt",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "x": 1020,
        "y": 20,
        "wires": [
            [
                "3d7654a9.8f369c",
                "cbeee26b.e5b5e"
            ]
        ]
    },
    {
        "id": "4b46fce5.5091e4",
        "type": "function",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "func": "msg.payload2=msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 950,
        "y": 60,
        "wires": [
            [
                "c7d35f03.4c7f7"
            ]
        ]
    },
    {
        "id": "3d7654a9.8f369c",
        "type": "function",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "func": "var schl=msg.payload.trim();\nif (msg.payload2.indexOf(schl)==0) {\n  msg.payload=msg.payload2.slice(schl.length).trim().toLowerCase();\n  return msg;\n  }\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1190,
        "y": 60,
        "wires": [
            [
                "4997ff11.783a8",
                "7d3bd291.5d758c"
            ]
        ]
    },
    {
        "id": "cbeee26b.e5b5e",
        "type": "debug",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1270,
        "y": 20,
        "wires": []
    },
    {
        "id": "e97ae6b8.ccb8b8",
        "type": "inject",
        "z": "b4be1bf1.59bee8",
        "name": "char-write-req 0411 412b",
        "topic": "",
        "payload": "char-write-req 0411 412b",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 490,
        "y": 640,
        "wires": [
            [
                "4993d777.8aa9e8"
            ]
        ]
    },
    {
        "id": "4a48a70b.1ac828",
        "type": "function",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "func": "var p=msg.payload;\nvar msg1=null; if (p.slice(0,10)==\"heizung an\") {msg1={}; msg1.payload=\"Heizung an\"};\nvar msg2=null; if (p.slice(0,11)==\"heizung aus\") {msg2={}; msg2.payload=\"Heizung aus\"};\nvar msg3=null; if (p.slice(0,6)==\"status\") {msg3={}; msg3.payload=\"Status\"};\nvar msg4=null; if (p.slice(0,6)==\"reboot\") {msg4={}; msg4.payload=\"Reboot\"};\nreturn [msg1,msg2,msg3,msg4];\n",
        "outputs": 4,
        "noerr": 0,
        "x": 1350,
        "y": 180,
        "wires": [
            [
                "4d2540eb.95b27",
                "7ebaf6a8.95b2b8"
            ],
            [
                "7ebaf6a8.95b2b8",
                "541fd22c.97427c"
            ],
            [
                "7ebaf6a8.95b2b8",
                "c15d35b3.ab5b58"
            ],
            [
                "7ebaf6a8.95b2b8",
                "8bbc7a28.c85628"
            ]
        ]
    },
    {
        "id": "7ebaf6a8.95b2b8",
        "type": "debug",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1540,
        "y": 160,
        "wires": []
    },
    {
        "id": "7d3bd291.5d758c",
        "type": "debug",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1380,
        "y": 60,
        "wires": []
    },
    {
        "id": "2339cc64.a95904",
        "type": "comment",
        "z": "b4be1bf1.59bee8",
        "name": "Bei neuer Email mit Topic \"Re: Heizungsraspberrypi.\" soll das Schaltprogramm \"Heizung an\" gestartet werden.",
        "info": "",
        "x": 450,
        "y": 60,
        "wires": []
    },
    {
        "id": "6bcd4b1b.7364f4",
        "type": "inject",
        "z": "b4be1bf1.59bee8",
        "name": "Test Email (aktueller Schlüssel muss noch eingefügt werden)",
        "topic": "",
        "payload": "{\"payload\":\"Status Also bitte nochmal Heizung anschalten.\\n\\nViele Grüße\\n\\nBeate\\n\\nAm 17.02.2018 um 13:45 schrieb Stefan Vogel:\\n> Ach nee, das kann man einstellen, ob die abgerufene Email als gelesen > markiert werden soll. Beim Heizungsraspberrypi habe ich das neu > angelegt und da ist das Anfangseinstellung. Habe ich jetzt sçhnell > umgestellt, bitte bei Gelegenheit noch ein Test, dann müsste im > debug-Tab einmalig die Heizung auf \\\"Heizung ein\\\" gestellt werden, im > Lautsprecher soll aber alle 5 min \\\"Email da\\\" zu hören sein, falls ich > zwischendurch weg bin.\\n>\\n> Am 17.02.2018 13:39 schrieb \\\"Stefan Vogel\\\" > <backebackekuchen16@gmail.com <mailto:backebackekuchen16@gmail.com>>:\\n>\\n>     Heizung ist an und Lautsprecher geht auch. Was mir im Moment noch\\n>     nicht klar ist, warum danach die Email als gelesen markiert ist.\\n>     Früher war es mal so, daß die Email trotz Abfrage ungelesen bleibt\\n>     und deshalb die Durchsage solange wiederholt wird, bis die Email\\n>     im Emailprogramm gelesen ist. Da war es ...\",\"topic\":\"Re: Heizungsraspberrypi.\",\"date\":\"2018-02-17T12:48:35.000Z\",\"header\":{\"delivered-to\":\"backebackekuchen16@gmail.com\",\"received\":[\"by 10.12.129.241 with SMTP id 46csp1709545qve; Sat, 17 Feb 2018 04:48:40 -0800 (PST)\",\"from mail-sor-f41.google.com (mail-sor-f41.google.com. [209.85.220.41]) by mx.google.com with SMTPS id 44sor7384314wrv.36.2018.02.17.04.48.39 for <backebackekuchen16@gmail.com> (Google Transport Security); Sat, 17 Feb 2018 04:48:40 -0800 (PST)\",\"from [192.168.1.58] (p578c5fe3.dip0.t-ipconnect.de. [87.140.95.227]) by smtp.gmail.com with ESMTPSA id 10sm13889551wmj.19.2018.02.17.04.48.37 for <backebackekuchen16@gmail.com> (version=TLS1_2 cipher=ECDHE-RSA-AES128-GCM-SHA256 bits=128/128); Sat, 17 Feb 2018 04:48:38 -0800 (PST)\"],\"x-received\":[\"by 10.28.194.2 with SMTP id s2mr6901721wmf.55.1518871720261; Sat, 17 Feb 2018 04:48:40 -0800 (PST)\",\"by 10.223.196.129 with SMTP id m1mr7967315wrf.213.1518871719414; Sat, 17 Feb 2018 04:48:39 -0800 (PST)\"],\"arc-seal\":\"i=1; a=rsa-sha256; t=1518871720; cv=none; d=google.com; s=arc-20160816; b=fP2nc5cFceRE6kfO7WWMQW8M5DM1SWR8AZrcwra1TufHuZGvmdyCYVuClyo2fuOw2i cTSpyqFuoi5MjYfCfSPVX+8F1pLs+GDLYQVhlcxOpX6atRY8TUCRWNQ67Yg3h2advZn1 xBhVkEYIJO+hZ1YMFln/BALhbq+T9vvIDYy5oCs2Ssw4zeyVl5UPJGFkgFaLTwqQZ8Zh WSoxelhzj3tmPC7WgKH2kn9AqwZTqfOHau9k/LaHX7/Cx5ON9e6NtsQbe7nOlBFmLzCX IQNzU9NjTJiIcV95HCY0Y7wf/t5HbvhNlLCZr1Iw6PN3YxmUQc2Rj3xt7hTSkIf8oZng SE5A==\",\"arc-message-signature\":\"i=1; a=rsa-sha256; c=relaxed/relaxed; d=google.com; s=arc-20160816; h=content-language:in-reply-to:mime-version:user-agent:date :message-id:from:references:to:subject:dkim-signature :arc-authentication-results; bh=KZeMUnIfi7r7Oe4ya9Ybe05qhBvH81IPssRj+RLCW4A=; b=S6Q5+hz8l/nVDBZu18BV+MDfA3WJVv8+pFtLn+9Qg+l/8+WGaulJq2m8x4+rmjOUAr TS0tpWybEYm3CJSZQXvsMSM/U9PvlA8m4YvvHKR/cpLtpF10HEzVW/APAhAj6WpG5bDc ch0BED/8tESukkB2+q+NgNQArEgaOCoYagW9rbVLb16EeOUMf6BSRJ0qjDUKZmLIPOBC 5QyGZthag79bCojOorzZDrNp4c/kFdD6sE7EzSBnPRRukFMElBqYoGY+NeMh8DknA2py wbrV1fLP2lzNznlLD8qIVMPAvuqUxtwWEW/KKPj9X0Bu2qtuAAIe10fJ+Q9XJ+NoMSRb V7Zw==\",\"arc-authentication-results\":\"i=1; mx.google.com; dkim=pass header.i=@gmail.com header.s=20161025 header.b=ktMs+j5e; spf=pass (google.com: domain of alb6116@gmail.com designates 209.85.220.41 as permitted sender) smtp.mailfrom=alb6116@gmail.com; dmarc=pass (p=NONE sp=QUARANTINE dis=NONE) header.from=gmail.com\",\"return-path\":[\"<alb6116@gmail.com>\",\"<alb6116@gmail.com>\"],\"received-spf\":\"pass (google.com: domain of alb6116@gmail.com designates 209.85.220.41 as permitted sender) client-ip=209.85.220.41;\",\"authentication-results\":\"mx.google.com; dkim=pass header.i=@gmail.com header.s=20161025 header.b=ktMs+j5e; spf=pass (google.com: domain of alb6116@gmail.com designates 209.85.220.41 as permitted sender) smtp.mailfrom=alb6116@gmail.com; dmarc=pass (p=NONE sp=QUARANTINE dis=NONE) header.from=gmail.com\",\"dkim-signature\":\"v=1; a=rsa-sha256; c=relaxed/relaxed; d=gmail.com; s=20161025; h=subject:to:references:from:message-id:date:user-agent:mime-version :in-reply-to:content-language; bh=KZeMUnIfi7r7Oe4ya9Ybe05qhBvH81IPssRj+RLCW4A=; b=ktMs+j5e6/y0r6hW8ofq0EXmDCdFRdbRSbqIFbfWUuswml/YHHFTZyjMRG5dPFeMGE JvC9mOUdbgwpRJlDnH4CvRhU0u27KgNMCpqsNs+0zCwu55TZxfWbcdZITUOZ3YTzEQdC hXCDXu7eR+uYSRfG8Jms+MvWGgBv9cHKf7F0YbfEuHkpyZFbNsfHIGbminUANvi6oNbt HczrHe6XA+XxKk18iq/DEfsEC8auFUceOhQvq3dxji26UTgWdQAsG4OQedgD6TIXlJ83 31jSo9cwEG47DL1mHlAjuYECgmNJn5Khp9gLVj78X1mFYknyGptahYGFtEf9qD8FfgPf vH1Q==\",\"x-google-dkim-signature\":\"v=1; a=rsa-sha256; c=relaxed/relaxed; d=1e100.net; s=20161025; h=x-gm-message-state:subject:to:references:from:message-id:date :user-agent:mime-version:in-reply-to:content-language; bh=KZeMUnIfi7r7Oe4ya9Ybe05qhBvH81IPssRj+RLCW4A=; b=ON43764z75Yh9h8mY3VxVog5GZ1GB68WDR2ZYPgsihQljPBNg3mvYO5yUnUHXXm+r1 TZnhGX9rKw2EyMoCOxOL97gvVsA2BshYMumB4Qj/19Fat/gn427+txLIkS01RET3nsWh SMzumTq7GE0LJPF1pQzKhUYA/oRe7xvx3XpLRB2eZIr+FeY6SB0fr2Ne/XmD9oOhQ0v+ 5B5f8rTgHoTtOJjdhNEV03Ox49O9tlDJHP7f2wjrzc5pG5M2bdfDVDY/nELcvSzQoZdF 1wv6Oq7NJ7EKzip6mVpMAJLeffxdAOyRtVWWK4KlmMt0gX11gMeNVpLmZSWlh513x88P TRgA==\",\"x-gm-message-state\":\"APf1xPB4Gydn5iuraL6EIPOeWBD9HHaDFblIu9EHZnXgv0Q2/btBGTDh CtJzXZfNNGMiCKWiUxYRdJ5q/+9f\",\"x-google-smtp-source\":\"AH8x224ZfVgq2kzGX+OoI7+81/PHN8edhr8tGCG0V64fbuO+Hx6d8Psy5k4PAjiw8D5Pxo2uzQtYww==\",\"subject\":\"Re: Heizungsraspberrypi.\",\"to\":\"Stefan Vogel <backebackekuchen16@gmail.com>\",\"references\":\"<CAOVUi5ac9-irwWNohYKTq+MOFzziuvbCDVpvy9oqWa3Q-PSAcg@mail.gmail.com> <CAOVUi5a0i1OhbPkVWS075QPOR20o3D_1oSV2JgX=x69oDeTr-Q@mail.gmail.com> <CAOVUi5ZZ=PD=vkMcd3WwDztykK5phozR9++C8A_FsfSqfz2w2A@mail.gmail.com> <CAOVUi5b-r5_Mamg8uc1ELj-gphdA1d6CaveKv1a7PTQvWyARiQ@mail.gmail.com> <45d67f86-8d1e-07b1-d10a-c01a8754f726@gmail.com> <CAOVUi5bu2_ThhZgTa15sLo0ZnvAKaOYCVTLfP2+6ajBDkQ9z9Q@mail.gmail.com> <5129d2cd-23b5-8a45-f96d-651cd481a259@gmail.com> <CAOVUi5YzU+1P07U4JUQFCRRm1hbSp8qw3iDiRSRS8+qDF_unvA@mail.gmail.com> <CAOVUi5Z1zskgjNNBGXBsBD0QDycYViqZty6RbPAgXUnRxDZp2A@mail.gmail.com> <CAOVUi5YStRDzcj9GgOiKjhO-LRav=6iS-PM9JobWXqTM6-JFow@mail.gmail.com> <62518eb2-7a8f-f593-0a39-1856607c8405@gmail.com> <CAOVUi5bWZNcuMmsANYfXfF8XhooKK+OcGuaeuXDcY7QmFi5yrA@mail.gmail.com> <040f5a29-53e9-3242-2528-9f79d2170e26@gmail.com> <CAOVUi5Ya2D4GdOnW9BjFbi3-2=D_vB7k1ZRCbDdUOj4SmKyEFQ@mail.gmail.com> <CAOVUi5bN=uwS00XibcP0e0GRqod-4ZDCuVb8_NQy8fqQsob0Pw@mail.gmail.com>\",\"from\":\"Beate Lang <alb6116@gmail.com>\",\"message-id\":\"<646e27ce-bb11-db0e-ca93-21f1728c46fe@gmail.com>\",\"date\":\"Sat, 17 Feb 2018 13:48:35 +0100\",\"user-agent\":\"Mozilla/5.0 (Windows NT 10.0; WOW64; rv:52.0) Gecko/20100101 Thunderbird/52.6.0\",\"mime-version\":\"1.0\",\"in-reply-to\":\"<CAOVUi5bN=uwS00XibcP0e0GRqod-4ZDCuVb8_NQy8fqQsob0Pw@mail.gmail.com>\",\"content-type\":\"multipart/alternative; boundary=\\\"------------D3C1AA8471C00039CE49E5E2\\\"\",\"content-language\":\"en-US\"},\"html\":\"<html>\\n  <head>\\n    <meta http-equiv=\\\"content-type\\\" content=\\\"text/html; charset=utf-8\\\" />\\n  </head>\\n  <body text=\\\"#000000\\\" bgcolor=\\\"#FFFFFF\\\">\\n    <div class=\\\"moz-cite-prefix\\\">Also bitte nochmal Heizung anschalten.<br>\\n      <br>\\n      Viele Grüße<br>\\n      <br>\\n      Beate<br>\\n      <br>\\n      Am 17.02.2018 um 13:45 schrieb Stefan Vogel:<br>\\n    </div>\\n    <blockquote type=\\\"cite\\\"\\ncite=\\\"mid:CAOVUi5bN=uwS00XibcP0e0GRqod-4ZDCuVb8_NQy8fqQsob0Pw@mail.gmail.com\\\">\\n      <div dir=\\\"auto\\\">Ach nee, das kann man einstellen, ob die\\n        abgerufene Email als gelesen markiert werden soll. Beim\\n        Heizungsraspberrypi habe ich das neu angelegt und da ist das\\n        Anfangseinstellung. Habe ich jetzt sçhnell umgestellt, bitte bei\\n        Gelegenheit noch ein Test, dann müsste im debug-Tab einmalig die\\n        Heizung auf \\\"Heizung ein\\\" gestellt werden, im Lautsprecher soll\\n        aber alle 5 min \\\"Email da\\\" zu hören sein, falls ich\\n        zwischendurch weg bin. </div>\\n      <div class=\\\"gmail_ex...\",\"from\":\"alb6116@gmail.com\",\"attachments\":[],\"_msgid\":\"b925388f.3f2e18\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 480,
        "y": 20,
        "wires": [
            [
                "738a67a0.e56a78"
            ]
        ]
    },
    {
        "id": "541fd22c.97427c",
        "type": "link out",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "links": [
            "99bf6a33.675b68"
        ],
        "x": 1520,
        "y": 260,
        "wires": []
    },
    {
        "id": "8bbc7a28.c85628",
        "type": "exec",
        "z": "b4be1bf1.59bee8",
        "command": "sudo reboot",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "sudo reboot",
        "x": 1610,
        "y": 200,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "b8196261.d45b1",
        "type": "template",
        "z": "b4be1bf1.59bee8",
        "name": "connect",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "connect 00:1A:22:0B:F9:D1",
        "output": "str",
        "x": 449,
        "y": 261,
        "wires": [
            [
                "b3b29b59.858da8",
                "6b3b465.cf738b8"
            ]
        ]
    },
    {
        "id": "55a3f6a2.6d2f68",
        "type": "inject",
        "z": "b4be1bf1.59bee8",
        "name": "Test",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 290,
        "y": 292,
        "wires": [
            [
                "b8196261.d45b1"
            ]
        ]
    },
    {
        "id": "b3b29b59.858da8",
        "type": "delay",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 659,
        "y": 271,
        "wires": [
            [
                "b5a46bdc.57e0f8"
            ]
        ]
    },
    {
        "id": "b5a46bdc.57e0f8",
        "type": "template",
        "z": "b4be1bf1.59bee8",
        "name": "Unlock",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "char-write-req 0411 8000",
        "output": "str",
        "x": 810,
        "y": 260,
        "wires": [
            [
                "9d1f7fcd.53d0f",
                "6ab53bd9.f82904"
            ]
        ]
    },
    {
        "id": "9d1f7fcd.53d0f",
        "type": "delay",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1045,
        "y": 268,
        "wires": [
            [
                "407ee94c.6a6368"
            ]
        ]
    },
    {
        "id": "407ee94c.6a6368",
        "type": "template",
        "z": "b4be1bf1.59bee8",
        "name": "disconnect",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "disconnect 00:1A:22:0B:F9:D1",
        "output": "str",
        "x": 1205,
        "y": 265,
        "wires": [
            [
                "8bfd293.995bfd8"
            ]
        ]
    },
    {
        "id": "c5008e81.a5d15",
        "type": "link in",
        "z": "b4be1bf1.59bee8",
        "name": "Schaltprogramm \"Status abfragen\"",
        "links": [
            "c15d35b3.ab5b58"
        ],
        "x": 315,
        "y": 240,
        "wires": [
            [
                "b8196261.d45b1"
            ]
        ]
    },
    {
        "id": "c15d35b3.ab5b58",
        "type": "link out",
        "z": "b4be1bf1.59bee8",
        "name": "2",
        "links": [
            "c5008e81.a5d15"
        ],
        "x": 1455,
        "y": 260,
        "wires": []
    }
]