.node-red/flows_Heizung.json
[
    {
        "id": "b4be1bf1.59bee8",
        "type": "tab",
        "label": "Flow 1"
    },
    {
        "id": "f4669750.411278",
        "type": "subflow",
        "name": "Subflow 1",
        "info": "",
        "in": [
            {
                "x": 100,
                "y": 60,
                "wires": [
                    {
                        "id": "2687bd98.c1a642"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 540,
                "y": 380,
                "wires": [
                    {
                        "id": "b403269.d6cb8d8",
                        "port": 0
                    }
                ]
            },
            {
                "x": 420,
                "y": 340,
                "wires": [
                    {
                        "id": "9c3e623c.ddd2d",
                        "port": 0
                    },
                    {
                        "id": "6486ab8a.fd2a94",
                        "port": 0
                    },
                    {
                        "id": "db6d3d3.96e9bc",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "fd622c93.69a77",
        "type": "websocket-listener",
        "z": "",
        "path": "/ws/gatttool",
        "wholemsg": "false"
    },
    {
        "id": "dab61bb7.6132a8",
        "type": "ui_group",
        "z": "",
        "name": "Heizung aus/an",
        "tab": "e7e54e49.20fde",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "e7e54e49.20fde",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard"
    },
    {
        "id": "b45e7a54.018a28",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "94bc45e.4f5eeb8",
        "type": "websocket-listener",
        "z": "",
        "path": "/ws/neue_Email_da",
        "wholemsg": "true"
    },
    {
        "id": "e3afe0ef.4923f",
        "type": "debug",
        "z": "b4be1bf1.59bee8",
        "name": "stdout gatttool",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1100,
        "y": 1180,
        "wires": []
    },
    {
        "id": "97d3725d.6888b",
        "type": "daemon",
        "z": "b4be1bf1.59bee8",
        "command": "gatttool",
        "args": "-I",
        "cr": true,
        "redo": true,
        "op": "string",
        "name": "gatttool -I",
        "x": 400,
        "y": 1180,
        "wires": [
            [
                "2f7cfd7b.d33812",
                "ade4342e.019f58",
                "2fe96195.2ebc5e"
            ],
            [
                "e3afe0ef.4923f"
            ],
            [
                "e3afe0ef.4923f"
            ]
        ]
    },
    {
        "id": "914f63c8.58cac",
        "type": "inject",
        "z": "b4be1bf1.59bee8",
        "name": "char-write-req 0411 03",
        "topic": "",
        "payload": "char-write-req 0411 03",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 480,
        "y": 840,
        "wires": [
            [
                "4993d777.8aa9e8"
            ]
        ]
    },
    {
        "id": "7856e0e8.9a52f",
        "type": "inject",
        "z": "b4be1bf1.59bee8",
        "name": "disconnect 00:1A:22:0B:F9:D1",
        "topic": "",
        "payload": "disconnect 00:1A:22:0B:F9:D1",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 510,
        "y": 1080,
        "wires": [
            [
                "4993d777.8aa9e8"
            ]
        ]
    },
    {
        "id": "adc2c093.9bd9",
        "type": "inject",
        "z": "b4be1bf1.59bee8",
        "name": "char-write-req 0411 411d",
        "topic": "",
        "payload": "char-write-req 0411 411d",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 490,
        "y": 960,
        "wires": [
            [
                "4993d777.8aa9e8"
            ]
        ]
    },
    {
        "id": "2c4034d8.fe76dc",
        "type": "inject",
        "z": "b4be1bf1.59bee8",
        "name": "char-write-req 0411 4040",
        "topic": "",
        "payload": "char-write-req 0411 4040",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 490,
        "y": 920,
        "wires": [
            [
                "4993d777.8aa9e8"
            ]
        ]
    },
    {
        "id": "8ad1ede1.0167",
        "type": "inject",
        "z": "b4be1bf1.59bee8",
        "name": "char-write-req 0411 4000",
        "topic": "",
        "payload": "char-write-req 0411 4000",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 510,
        "y": 1040,
        "wires": [
            [
                "4993d777.8aa9e8"
            ]
        ]
    },
    {
        "id": "116759e4.aa4fa6",
        "type": "e-mail in",
        "z": "b4be1bf1.59bee8",
        "name": "ungelesene Emails abfragen",
        "protocol": "IMAP",
        "server": "imap.gmail.com",
        "useSSL": true,
        "port": "993",
        "box": "INBOX",
        "disposition": "None",
        "repeat": "300",
        "x": 180,
        "y": 100,
        "wires": [
            [
                "44ecd0fb.0396b",
                "5efdc9ba.edab58",
                "4e03c933.25c4b8"
            ]
        ]
    },
    {
        "id": "9c3e623c.ddd2d",
        "type": "template",
        "z": "f4669750.411278",
        "name": "connect",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "connect 00:1A:22:0B:F9:D1 #erster Versuch",
        "output": "str",
        "x": 220,
        "y": 120,
        "wires": [
            [
                "2716e79b.30a238"
            ]
        ]
    },
    {
        "id": "a8f69b17.d49a28",
        "type": "template",
        "z": "b4be1bf1.59bee8",
        "name": "auto mode",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "char-write-req 0411 4000",
        "output": "str",
        "x": 650,
        "y": 300,
        "wires": [
            [
                "6ab53bd9.f82904",
                "62b4067a.ee3208"
            ]
        ]
    },
    {
        "id": "65fa44ca.cb1d5c",
        "type": "inject",
        "z": "b4be1bf1.59bee8",
        "name": "Test",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 270,
        "y": 340,
        "wires": [
            [
                "5f680ea.5bef9f"
            ]
        ]
    },
    {
        "id": "5efdc9ba.edab58",
        "type": "function",
        "z": "b4be1bf1.59bee8",
        "name": "nur \"Re: Heizungsraspberrypi.\"",
        "func": "if (msg.topic==\"Re: Heizungsraspberrypi.\") {\n  msg.payload=msg.payload+msg.date;\n  return msg;\n  }\n",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 100,
        "wires": [
            [
                "4b46fce5.5091e4"
            ]
        ]
    },
    {
        "id": "1fd93aab.4ddaa5",
        "type": "link in",
        "z": "b4be1bf1.59bee8",
        "name": "stdin zu gatttool -I",
        "links": [
            "2beb4749.77c788",
            "4993d777.8aa9e8",
            "6ab53bd9.f82904",
            "8d8cb496.89cd18",
            "8bfd293.995bfd8",
            "3a70e828.eb3488",
            "15f994de.d25bdb",
            "eca91c29.a07d3",
            "617d12c.da3adec",
            "be0b2506.caa358",
            "91fb8ad9.f13f88",
            "c8561e10.6c68",
            "e96c87d8.d17c58",
            "ee399061.c5dc9",
            "15048293.c5635d",
            "dfab2eeb.b0ad3"
        ],
        "x": 115,
        "y": 1180,
        "wires": [
            [
                "279c854f.2ba20a"
            ]
        ]
    },
    {
        "id": "6ab53bd9.f82904",
        "type": "link out",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "links": [
            "1fd93aab.4ddaa5"
        ],
        "x": 795,
        "y": 340,
        "wires": []
    },
    {
        "id": "9eefd5e2.1050d8",
        "type": "comment",
        "z": "b4be1bf1.59bee8",
        "name": "Testeingaben laut https://github.com/Heckie75/eQ-3-radiador-thermostat/blob/master/eQ-3-radiator-thermostat-api.m",
        "info": "",
        "x": 400,
        "y": 760,
        "wires": []
    },
    {
        "id": "4993d777.8aa9e8",
        "type": "link out",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "links": [
            "1fd93aab.4ddaa5"
        ],
        "x": 788.333330154419,
        "y": 900,
        "wires": []
    },
    {
        "id": "d7b4d598.fafbe8",
        "type": "comment",
        "z": "b4be1bf1.59bee8",
        "name": "hier wird das \"gatttool -I\" ausgeführt",
        "info": "",
        "x": 140,
        "y": 1120,
        "wires": []
    },
    {
        "id": "ba59023e.68e04",
        "type": "comment",
        "z": "b4be1bf1.59bee8",
        "name": "verbinden (dauert ca. 3s)",
        "info": "",
        "x": 170,
        "y": 800,
        "wires": []
    },
    {
        "id": "10e6ee2d.be4512",
        "type": "comment",
        "z": "b4be1bf1.59bee8",
        "name": "Status abfragen",
        "info": "",
        "x": 140,
        "y": 840,
        "wires": []
    },
    {
        "id": "99011097.a5c79",
        "type": "comment",
        "z": "b4be1bf1.59bee8",
        "name": "Solltemperatur 14,5° einstellen",
        "info": "",
        "x": 190,
        "y": 960,
        "wires": []
    },
    {
        "id": "d1596400.622258",
        "type": "comment",
        "z": "b4be1bf1.59bee8",
        "name": "Mode \"manu\"",
        "info": "",
        "x": 130,
        "y": 920,
        "wires": []
    },
    {
        "id": "47ca6a41.7d0024",
        "type": "comment",
        "z": "b4be1bf1.59bee8",
        "name": "(zurück zu Mode \"auto\")",
        "info": "",
        "x": 190,
        "y": 1040,
        "wires": []
    },
    {
        "id": "4aef4604.3d0bb8",
        "type": "comment",
        "z": "b4be1bf1.59bee8",
        "name": "disconnect",
        "info": "",
        "x": 120,
        "y": 1080,
        "wires": []
    },
    {
        "id": "629391a8.61994",
        "type": "comment",
        "z": "b4be1bf1.59bee8",
        "name": "Programm von Dienstag",
        "info": "",
        "x": 170,
        "y": 880,
        "wires": []
    },
    {
        "id": "abfd3af8.3ad0b8",
        "type": "inject",
        "z": "b4be1bf1.59bee8",
        "name": "char-write-req 0411 2002",
        "topic": "",
        "payload": "char-write-req 0411 2002",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 490,
        "y": 880,
        "wires": [
            [
                "4993d777.8aa9e8"
            ]
        ]
    },
    {
        "id": "c115705c.00884",
        "type": "inject",
        "z": "b4be1bf1.59bee8",
        "name": "Restart gatttool",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 180,
        "y": 1240,
        "wires": [
            [
                "4524fd24.ac28e4"
            ]
        ]
    },
    {
        "id": "4524fd24.ac28e4",
        "type": "function",
        "z": "b4be1bf1.59bee8",
        "name": "msg.kill=\"SIGQUIT\";",
        "func": "delete msg.payload;\nmsg.kill=\"SIGQUIT\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 1240,
        "wires": [
            [
                "2beb4749.77c788"
            ]
        ]
    },
    {
        "id": "2beb4749.77c788",
        "type": "link out",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "links": [
            "1fd93aab.4ddaa5"
        ],
        "x": 575,
        "y": 1240,
        "wires": []
    },
    {
        "id": "c189ac54.27fde",
        "type": "comment",
        "z": "b4be1bf1.59bee8",
        "name": "Möglichkeit, alles über Websocket zu steuern",
        "info": "",
        "x": 170,
        "y": 1340,
        "wires": []
    },
    {
        "id": "88f6b998.ee7b38",
        "type": "websocket in",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "server": "fd622c93.69a77",
        "client": "",
        "x": 160,
        "y": 1380,
        "wires": [
            [
                "8d8cb496.89cd18"
            ]
        ]
    },
    {
        "id": "9a346897.bb2248",
        "type": "websocket out",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "server": "fd622c93.69a77",
        "client": "",
        "x": 520,
        "y": 1380,
        "wires": []
    },
    {
        "id": "8d8cb496.89cd18",
        "type": "link out",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "links": [
            "1fd93aab.4ddaa5"
        ],
        "x": 295,
        "y": 1380,
        "wires": []
    },
    {
        "id": "13e47c28.8e6cc4",
        "type": "link in",
        "z": "b4be1bf1.59bee8",
        "name": "output von gatttool",
        "links": [
            "d671fd42.3caae"
        ],
        "x": 375,
        "y": 1380,
        "wires": [
            [
                "9a346897.bb2248"
            ]
        ]
    },
    {
        "id": "d671fd42.3caae",
        "type": "link out",
        "z": "b4be1bf1.59bee8",
        "name": "stdout von gatttool -I",
        "links": [
            "13e47c28.8e6cc4"
        ],
        "x": 1035,
        "y": 1120,
        "wires": []
    },
    {
        "id": "f87bf7a3.bf8e58",
        "type": "inject",
        "z": "b4be1bf1.59bee8",
        "name": "connect 00:1A:22:0B:F9:D1",
        "topic": "",
        "payload": "connect 00:1A:22:0B:F9:D1",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 500,
        "y": 800,
        "wires": [
            [
                "4993d777.8aa9e8"
            ]
        ]
    },
    {
        "id": "2f7cfd7b.d33812",
        "type": "file",
        "z": "b4be1bf1.59bee8",
        "name": "logfile.txt",
        "filename": "logfile.txt",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "false",
        "x": 720,
        "y": 1160,
        "wires": []
    },
    {
        "id": "5194d21d.eeebfc",
        "type": "eq3-bluetooth",
        "z": "b4be1bf1.59bee8",
        "eq3device": "00:1A:22:0B:F9:D1 geht nicht",
        "x": 410,
        "y": 1480,
        "wires": [
            [
                "491e4354.a6951c"
            ]
        ]
    },
    {
        "id": "ae5bc6f4.09f188",
        "type": "inject",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 160,
        "y": 1480,
        "wires": [
            [
                "5194d21d.eeebfc"
            ]
        ]
    },
    {
        "id": "491e4354.a6951c",
        "type": "debug",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 670,
        "y": 1480,
        "wires": []
    },
    {
        "id": "24b8d2f0.19013e",
        "type": "comment",
        "z": "b4be1bf1.59bee8",
        "name": "es gibt auch einen fertigen EQ3-Node, habe ich nicht zum Laufen gebracht",
        "info": "",
        "x": 270,
        "y": 1440,
        "wires": []
    },
    {
        "id": "4acbaae3.13eda4",
        "type": "ui_switch",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "label": "switch",
        "group": "dab61bb7.6132a8",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 290,
        "y": 1580,
        "wires": [
            [
                "dd055b72.14ef58",
                "daa383c5.5ede9"
            ]
        ]
    },
    {
        "id": "dd055b72.14ef58",
        "type": "debug",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 500,
        "y": 1580,
        "wires": []
    },
    {
        "id": "a73dc4ac.0cc958",
        "type": "comment",
        "z": "b4be1bf1.59bee8",
        "name": "dashboard-Grafik-Oberfläche, aufzurufen als http://....:1880/ui/",
        "info": "",
        "x": 220,
        "y": 1540,
        "wires": []
    },
    {
        "id": "cba64e78.021aa",
        "type": "switch",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "jsonata"
            },
            {
                "t": "eq",
                "v": "false",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 520,
        "y": 1660,
        "wires": [
            [
                "c829009c.aa7f9",
                "7c0b40fb.3bb4d"
            ],
            [
                "c829009c.aa7f9",
                "81b0bf8f.ac8c2"
            ]
        ],
        "icon": "node-red/alert.png"
    },
    {
        "id": "62b4067a.ee3208",
        "type": "delay",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 840,
        "y": 300,
        "wires": [
            [
                "8f396262.ca3c4"
            ]
        ]
    },
    {
        "id": "8f396262.ca3c4",
        "type": "template",
        "z": "b4be1bf1.59bee8",
        "name": "disconnect",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "disconnect 00:1A:22:0B:F9:D1",
        "output": "str",
        "x": 1010,
        "y": 300,
        "wires": [
            [
                "8bfd293.995bfd8"
            ]
        ]
    },
    {
        "id": "8bfd293.995bfd8",
        "type": "link out",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "links": [
            "1fd93aab.4ddaa5"
        ],
        "x": 1135,
        "y": 340,
        "wires": []
    },
    {
        "id": "c829009c.aa7f9",
        "type": "debug",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 760,
        "y": 1660,
        "wires": []
    },
    {
        "id": "43c03011.97cf5",
        "type": "inject",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 300,
        "y": 1660,
        "wires": [
            [
                "cba64e78.021aa"
            ]
        ]
    },
    {
        "id": "c3b198a4.9df2d8",
        "type": "inject",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 300,
        "y": 1700,
        "wires": [
            [
                "cba64e78.021aa"
            ]
        ]
    },
    {
        "id": "ec48e44a.11e598",
        "type": "template",
        "z": "b4be1bf1.59bee8",
        "name": "manu mode",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "char-write-req 0411 4040",
        "output": "str",
        "x": 650,
        "y": 400,
        "wires": [
            [
                "15f994de.d25bdb",
                "d86b41eb.c81a8"
            ]
        ]
    },
    {
        "id": "d86b41eb.c81a8",
        "type": "delay",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 840,
        "y": 400,
        "wires": [
            [
                "308587a7.c629d8"
            ]
        ]
    },
    {
        "id": "b6b98351.495a",
        "type": "template",
        "z": "b4be1bf1.59bee8",
        "name": "disconnect",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "disconnect 00:1A:22:0B:F9:D1",
        "output": "str",
        "x": 1350,
        "y": 400,
        "wires": [
            [
                "3a70e828.eb3488"
            ]
        ]
    },
    {
        "id": "3a70e828.eb3488",
        "type": "link out",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "links": [
            "1fd93aab.4ddaa5"
        ],
        "x": 1495,
        "y": 440,
        "wires": []
    },
    {
        "id": "15f994de.d25bdb",
        "type": "link out",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "links": [
            "1fd93aab.4ddaa5"
        ],
        "x": 795,
        "y": 440,
        "wires": []
    },
    {
        "id": "eca91c29.a07d3",
        "type": "link out",
        "z": "b4be1bf1.59bee8",
        "name": "zu gatttool schicken",
        "links": [
            "1fd93aab.4ddaa5"
        ],
        "x": 595,
        "y": 440,
        "wires": []
    },
    {
        "id": "308587a7.c629d8",
        "type": "template",
        "z": "b4be1bf1.59bee8",
        "name": "14,5°",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "char-write-req 0411 411d",
        "output": "str",
        "x": 990,
        "y": 400,
        "wires": [
            [
                "617d12c.da3adec",
                "ec1b245a.24f9c8"
            ]
        ]
    },
    {
        "id": "617d12c.da3adec",
        "type": "link out",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "links": [
            "1fd93aab.4ddaa5"
        ],
        "x": 1135,
        "y": 440,
        "wires": []
    },
    {
        "id": "ec1b245a.24f9c8",
        "type": "delay",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1180,
        "y": 400,
        "wires": [
            [
                "b6b98351.495a"
            ]
        ]
    },
    {
        "id": "daa383c5.5ede9",
        "type": "delay",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "40",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 390,
        "y": 1620,
        "wires": [
            [
                "cba64e78.021aa"
            ]
        ]
    },
    {
        "id": "25c89d7c.633032",
        "type": "ui_text",
        "z": "b4be1bf1.59bee8",
        "group": "dab61bb7.6132a8",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "(mehrere aufeinanderfolgende switch werden in 40-Sekunden-Intervallen weitergesendet, damit nichts durcheinanderkommt)",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 510,
        "y": 1740,
        "wires": []
    },
    {
        "id": "99bf6a33.675b68",
        "type": "link in",
        "z": "b4be1bf1.59bee8",
        "name": "Schaltprogramm \"Heizung aus\"",
        "links": [
            "81b0bf8f.ac8c2",
            "541fd22c.97427c"
        ],
        "x": 315,
        "y": 400,
        "wires": [
            [
                "bce08ae7.435278"
            ]
        ]
    },
    {
        "id": "81b0bf8f.ac8c2",
        "type": "link out",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "links": [
            "99bf6a33.675b68"
        ],
        "x": 665,
        "y": 1680,
        "wires": []
    },
    {
        "id": "4a639b42.013644",
        "type": "comment",
        "z": "b4be1bf1.59bee8",
        "name": "Schaltprogramm \"Heizung aus\"",
        "info": "",
        "x": 130,
        "y": 400,
        "wires": []
    },
    {
        "id": "4d2540eb.95b27",
        "type": "link out",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "links": [
            "6384e70d.a8f688",
            "84ff3fc9.6fe5f"
        ],
        "x": 3535,
        "y": 260,
        "wires": []
    },
    {
        "id": "6384e70d.a8f688",
        "type": "link in",
        "z": "b4be1bf1.59bee8",
        "name": "Schaltprogramm \"Heizung an\"",
        "links": [
            "4d2540eb.95b27",
            "7c0b40fb.3bb4d"
        ],
        "x": 315,
        "y": 300,
        "wires": [
            [
                "5f680ea.5bef9f"
            ]
        ]
    },
    {
        "id": "7c0b40fb.3bb4d",
        "type": "link out",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "links": [
            "6384e70d.a8f688",
            "84ff3fc9.6fe5f"
        ],
        "x": 665,
        "y": 1640,
        "wires": []
    },
    {
        "id": "fcece4bb.686808",
        "type": "comment",
        "z": "b4be1bf1.59bee8",
        "name": "Schaltprogramm \"Heizung an\"",
        "info": "",
        "x": 130,
        "y": 300,
        "wires": []
    },
    {
        "id": "8bd475c1.3495f8",
        "type": "inject",
        "z": "b4be1bf1.59bee8",
        "name": "Test",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 270,
        "y": 440,
        "wires": [
            [
                "bce08ae7.435278"
            ]
        ]
    },
    {
        "id": "bc5bb738.811228",
        "type": "comment",
        "z": "b4be1bf1.59bee8",
        "name": "https://github.com/OpaStefanVogel/HEIZUNGSPI.git",
        "info": "",
        "x": 190,
        "y": 2060,
        "wires": []
    },
    {
        "id": "4997ff11.783a8",
        "type": "delay",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "40",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 3060,
        "y": 100,
        "wires": [
            [
                "4a48a70b.1ac828",
                "1b4d0fb0.2e75a"
            ]
        ]
    },
    {
        "id": "6f78ab0f.6840f4",
        "type": "comment",
        "z": "b4be1bf1.59bee8",
        "name": "Restart wenn gatttool sich verheddert hat",
        "info": "",
        "x": 780,
        "y": 1240,
        "wires": []
    },
    {
        "id": "f4082890.b410e8",
        "type": "comment",
        "z": "b4be1bf1.59bee8",
        "name": "← diese oder irgendeine andere Eingabe verhunzt das Datum am Thermostat",
        "info": "",
        "x": 880,
        "y": 840,
        "wires": []
    },
    {
        "id": "b0c9bac1.d8b618",
        "type": "tail",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "filetype": "text",
        "split": true,
        "filename": "logfile.txt",
        "x": 250,
        "y": 1300,
        "wires": [
            [
                "124ab371.d2378d"
            ]
        ]
    },
    {
        "id": "124ab371.d2378d",
        "type": "debug",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 470,
        "y": 1300,
        "wires": []
    },
    {
        "id": "b9bd0cc7.b140f",
        "type": "websocket out",
        "z": "b4be1bf1.59bee8",
        "name": "zum Lautsprecher: \"neue_Email_da\"",
        "server": "94bc45e.4f5eeb8",
        "client": "",
        "x": 730,
        "y": 160,
        "wires": []
    },
    {
        "id": "ca5d3e49.67dcc",
        "type": "inject",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 150,
        "y": 1580,
        "wires": [
            [
                "4acbaae3.13eda4"
            ]
        ]
    },
    {
        "id": "2a543096.ee9cf",
        "type": "inject",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 150,
        "y": 1620,
        "wires": [
            [
                "4acbaae3.13eda4"
            ]
        ]
    },
    {
        "id": "31dbcae2.8db166",
        "type": "e-mail",
        "z": "b4be1bf1.59bee8",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "name": "",
        "dname": "Re: Heizungsraspberrypi.",
        "x": 4030,
        "y": 100,
        "wires": []
    },
    {
        "id": "210e765f.6d6f3a",
        "type": "debug",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 3790,
        "y": 40,
        "wires": []
    },
    {
        "id": "3a9dad2c.52b062",
        "type": "function",
        "z": "b4be1bf1.59bee8",
        "name": "msg.to=msg.from ...",
        "func": "var msgneu={};\nmsgneu.to=msg.from;\nmsgneu.topic=msg.topic;\nmsgneu.payload=\"automatisch erzeugte Email vom Heizungsraspberrypi\\n\\n\";\nvar notifications=global.get(\"notifications\");\nfor (var i=0;i<notifications.length;i++) {\n  var nt=notifications[i];\n  msgneu.payload+=nt+\" (\";\n  if (nt.slice(-10,-9)==\"0\") msgneu.payload+=\"auto \";\n  if (nt.slice(-10,-9)==\"1\") msgneu.payload+=\"manu \";\n  msgneu.payload+=eval(\"0x\"+nt.slice(-2))/2+\" °C)\\n\";\n  }\nmsgneu.payload+=\"\\n\"+\"Antwort auf Email \"+msg.date;\nreturn msgneu;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 3560,
        "y": 100,
        "wires": [
            [
                "210e765f.6d6f3a",
                "949c60d0.afd2a",
                "55a6f98b.1167a8"
            ]
        ]
    },
    {
        "id": "ade4342e.019f58",
        "type": "function",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "func": "var t=msg.payload;\nvar notifications=global.get(\"notifications\")||[];\nvar d=new Date();\nvar ind=t.indexOf(\"Notification\");\nvar tneu=d.toString()+\"  \"+t.slice(ind,ind+53);\nif (ind>-1) notifications.push(tneu);\nwhile (notifications.length>8) notifications.shift(t);\nglobal.set(\"notifications\",notifications);\nif (ind>-1) {\n  msg.payload=tneu;\n  return msg;\n  }",
        "outputs": 1,
        "noerr": 0,
        "x": 590,
        "y": 1120,
        "wires": [
            [
                "1f10c6ac.a03779"
            ]
        ]
    },
    {
        "id": "505caeb6.af31a",
        "type": "inject",
        "z": "b4be1bf1.59bee8",
        "name": "Test Notifications.txt",
        "topic": "",
        "payload": " Notification Test 14,5 °C",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 410,
        "y": 1120,
        "wires": [
            [
                "ade4342e.019f58"
            ]
        ]
    },
    {
        "id": "949c60d0.afd2a",
        "type": "file",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "filename": "Testemail.txt",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "x": 3810,
        "y": 160,
        "wires": []
    },
    {
        "id": "1b4d0fb0.2e75a",
        "type": "delay",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 3340,
        "y": 100,
        "wires": [
            [
                "3a9dad2c.52b062"
            ]
        ]
    },
    {
        "id": "55a6f98b.1167a8",
        "type": "delay",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 3800,
        "y": 100,
        "wires": [
            [
                "31dbcae2.8db166"
            ]
        ]
    },
    {
        "id": "44ecd0fb.0396b",
        "type": "delay",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 440,
        "y": 140,
        "wires": [
            [
                "b9bd0cc7.b140f"
            ]
        ]
    },
    {
        "id": "4e072f4c.d6b39",
        "type": "comment",
        "z": "b4be1bf1.59bee8",
        "name": "ab hier Email beantworten",
        "info": "",
        "x": 3390,
        "y": 60,
        "wires": []
    },
    {
        "id": "738a67a0.e56a78",
        "type": "function",
        "z": "b4be1bf1.59bee8",
        "name": "msg=msg.payload;",
        "func": "msg=msg.payload;\nvar t=new Date();\nmsg.date=t.toString();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 810,
        "y": 60,
        "wires": [
            [
                "4b46fce5.5091e4"
            ]
        ]
    },
    {
        "id": "1f10c6ac.a03779",
        "type": "file",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "filename": "Notifications.txt",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "x": 740,
        "y": 1120,
        "wires": []
    },
    {
        "id": "a7411384.8dcc1",
        "type": "file",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "filename": "empfangeneEmail.txt",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "x": 960,
        "y": 220,
        "wires": []
    },
    {
        "id": "34c15fc4.ae246",
        "type": "json",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 750,
        "y": 220,
        "wires": [
            [
                "a7411384.8dcc1"
            ]
        ]
    },
    {
        "id": "9306fda7.f656e",
        "type": "function",
        "z": "b4be1bf1.59bee8",
        "name": "Bei Fehlersuche Email  speichern",
        "func": "var ret={};\nret.payload={\"payload\":msg.payload.slice(0,20),\"date\":msg.date};\nreturn ret;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 220,
        "wires": [
            [
                "34c15fc4.ae246"
            ]
        ]
    },
    {
        "id": "c7d35f03.4c7f7",
        "type": "file in",
        "z": "b4be1bf1.59bee8",
        "name": "aus Schluessel.txt Schluessel holen",
        "filename": "Schluessel.txt",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "x": 1390,
        "y": 100,
        "wires": [
            [
                "3d7654a9.8f369c",
                "cbeee26b.e5b5e"
            ]
        ]
    },
    {
        "id": "4b46fce5.5091e4",
        "type": "function",
        "z": "b4be1bf1.59bee8",
        "name": "msg.payload merken",
        "func": "msg.payload2=msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1040,
        "y": 100,
        "wires": [
            [
                "c7d35f03.4c7f7"
            ]
        ]
    },
    {
        "id": "3d7654a9.8f369c",
        "type": "function",
        "z": "b4be1bf1.59bee8",
        "name": "msg.payload ohne dem Schlüssel",
        "func": "var schl=msg.payload.trim();\nvar schl_length=schl.length;\nif (msg.payload2.indexOf(schl)==0) {\n  msg.payload=msg.payload2.slice(schl_length,schl_length+80).trim().toLowerCase()+\" Status wenn nichts anderes angegeben ist. \"+msg.date;\n  return msg;\n  }\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1780,
        "y": 100,
        "wires": [
            [
                "7d3bd291.5d758c",
                "e912908f.b6c66"
            ]
        ]
    },
    {
        "id": "cbeee26b.e5b5e",
        "type": "debug",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1690,
        "y": 40,
        "wires": []
    },
    {
        "id": "e97ae6b8.ccb8b8",
        "type": "inject",
        "z": "b4be1bf1.59bee8",
        "name": "char-write-req 0411 412b",
        "topic": "",
        "payload": "char-write-req 0411 412b",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 490,
        "y": 1000,
        "wires": [
            [
                "4993d777.8aa9e8"
            ]
        ]
    },
    {
        "id": "4a48a70b.1ac828",
        "type": "function",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "func": "var p=msg.payload.trim()+\" \";\nvar msg1=null; if (p.slice(0,10)==\"heizung an\") {msg1={}; msg1.payload=\"Heizung an\"};\nvar msg2=null; if (p.slice(0,11)==\"heizung aus\") {msg2={}; msg2.payload=\"Heizung aus\"};\nvar msg3=null; if (p.slice(0,6)==\"status\") {msg3={}; msg3.payload=\"Status\"};\nvar msg3=null; if (p.slice(0,5)==\"viele\") {msg3={}; msg3.payload=\"Status\"};\nvar msg4=null; if (p.slice(0,6)==\"reboot\") {msg4={}; msg4.payload=\"Reboot\"};\nvar msg5=null; if (p.slice(0,18)==\"Heizung Temperatur\") {msg5={}; msg5.payload=p.slice(19,p.indexOf(\" \",19)).replace(\",\",\".\")*1.0};\nreturn [msg1,msg2,msg3,msg4,msg5];\n",
        "outputs": 5,
        "noerr": 0,
        "x": 3330,
        "y": 220,
        "wires": [
            [
                "4d2540eb.95b27",
                "7ebaf6a8.95b2b8"
            ],
            [
                "7ebaf6a8.95b2b8",
                "541fd22c.97427c"
            ],
            [
                "7ebaf6a8.95b2b8",
                "c15d35b3.ab5b58"
            ],
            [
                "7ebaf6a8.95b2b8",
                "8bbc7a28.c85628"
            ],
            [
                "1d72db97.79b7f4",
                "7ebaf6a8.95b2b8"
            ]
        ]
    },
    {
        "id": "7ebaf6a8.95b2b8",
        "type": "debug",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 3590,
        "y": 200,
        "wires": []
    },
    {
        "id": "7d3bd291.5d758c",
        "type": "debug",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 2070,
        "y": 40,
        "wires": []
    },
    {
        "id": "2339cc64.a95904",
        "type": "comment",
        "z": "b4be1bf1.59bee8",
        "name": "Bei neuer Email mit Topic \"Re: Heizungsraspberrypi.\" soll das Schaltprogramm \"Heizung an\" gestartet werden.",
        "info": "",
        "x": 380,
        "y": 20,
        "wires": []
    },
    {
        "id": "6bcd4b1b.7364f4",
        "type": "inject",
        "z": "b4be1bf1.59bee8",
        "name": "Test Email (aktueller Schlüssel muss vor Verwendung noch eingefügt werden)",
        "topic": "",
        "payload": "{\"payload\":\"Schluessel Heizung an Also bitte nochmal Heizung anschalten.\\n\\nViele Grüße\\n\\nBeate\\n\\nAm 17.02.2018 um 13:45 schrieb Stefan Vogel:\\n> Ach nee, das kann man einstellen, ob die abgerufene Email als gelesen > markiert werden soll. Beim Heizungsraspberrypi habe ich das neu > angelegt und da ist das Anfangseinstellung. Habe ich jetzt sçhnell > umgestellt, bitte bei Gelegenheit noch ein Test, dann müsste im > debug-Tab einmalig die Heizung auf \\\"Heizung ein\\\" gestellt werden, im > Lautsprecher soll aber alle 5 min \\\"Email da\\\" zu hören sein, falls ich > zwischendurch weg bin.\\n>\\n> Am 17.02.2018 13:39 schrieb \\\"Stefan Vogel\\\" > <backebackekuchen16@gmail.com <mailto:backebackekuchen16@gmail.com>>:\\n>\\n>     Heizung ist an und Lautsprecher geht auch. Was mir im Moment noch\\n>     nicht klar ist, warum danach die Email als gelesen markiert ist.\\n>     Früher war es mal so, daß die Email trotz Abfrage ungelesen bleibt\\n>     und deshalb die Durchsage solange wiederholt wird, bis die Email\\n>     im Emailprogramm gelesen ist. Da war es ...\",\"topic\":\"Re: Heizungsraspberrypi.\",\"date\":\"2018-02-17T12:48:35.000Z\",\"Test-Email\":\"true\",\"header\":{\"delivered-to\":\"backebackekuchen16@gmail.com\",\"received\":[\"by 10.12.129.241 with SMTP id 46csp1709545qve; Sat, 17 Feb 2018 04:48:40 -0800 (PST)\",\"from mail-sor-f41.google.com (mail-sor-f41.google.com. [209.85.220.41]) by mx.google.com with SMTPS id 44sor7384314wrv.36.2018.02.17.04.48.39 for <backebackekuchen16@gmail.com> (Google Transport Security); Sat, 17 Feb 2018 04:48:40 -0800 (PST)\",\"from [192.168.1.58] (p578c5fe3.dip0.t-ipconnect.de. [87.140.95.227]) by smtp.gmail.com with ESMTPSA id 10sm13889551wmj.19.2018.02.17.04.48.37 for <backebackekuchen16@gmail.com> (version=TLS1_2 cipher=ECDHE-RSA-AES128-GCM-SHA256 bits=128/128); Sat, 17 Feb 2018 04:48:38 -0800 (PST)\"],\"x-received\":[\"by 10.28.194.2 with SMTP id s2mr6901721wmf.55.1518871720261; Sat, 17 Feb 2018 04:48:40 -0800 (PST)\",\"by 10.223.196.129 with SMTP id m1mr7967315wrf.213.1518871719414; Sat, 17 Feb 2018 04:48:39 -0800 (PST)\"],\"arc-seal\":\"i=1; a=rsa-sha256; t=1518871720; cv=none; d=google.com; s=arc-20160816; b=fP2nc5cFceRE6kfO7WWMQW8M5DM1SWR8AZrcwra1TufHuZGvmdyCYVuClyo2fuOw2i cTSpyqFuoi5MjYfCfSPVX+8F1pLs+GDLYQVhlcxOpX6atRY8TUCRWNQ67Yg3h2advZn1 xBhVkEYIJO+hZ1YMFln/BALhbq+T9vvIDYy5oCs2Ssw4zeyVl5UPJGFkgFaLTwqQZ8Zh WSoxelhzj3tmPC7WgKH2kn9AqwZTqfOHau9k/LaHX7/Cx5ON9e6NtsQbe7nOlBFmLzCX IQNzU9NjTJiIcV95HCY0Y7wf/t5HbvhNlLCZr1Iw6PN3YxmUQc2Rj3xt7hTSkIf8oZng SE5A==\",\"arc-message-signature\":\"i=1; a=rsa-sha256; c=relaxed/relaxed; d=google.com; s=arc-20160816; h=content-language:in-reply-to:mime-version:user-agent:date :message-id:from:references:to:subject:dkim-signature :arc-authentication-results; bh=KZeMUnIfi7r7Oe4ya9Ybe05qhBvH81IPssRj+RLCW4A=; b=S6Q5+hz8l/nVDBZu18BV+MDfA3WJVv8+pFtLn+9Qg+l/8+WGaulJq2m8x4+rmjOUAr TS0tpWybEYm3CJSZQXvsMSM/U9PvlA8m4YvvHKR/cpLtpF10HEzVW/APAhAj6WpG5bDc ch0BED/8tESukkB2+q+NgNQArEgaOCoYagW9rbVLb16EeOUMf6BSRJ0qjDUKZmLIPOBC 5QyGZthag79bCojOorzZDrNp4c/kFdD6sE7EzSBnPRRukFMElBqYoGY+NeMh8DknA2py wbrV1fLP2lzNznlLD8qIVMPAvuqUxtwWEW/KKPj9X0Bu2qtuAAIe10fJ+Q9XJ+NoMSRb V7Zw==\",\"arc-authentication-results\":\"i=1; mx.google.com; dkim=pass header.i=@gmail.com header.s=20161025 header.b=ktMs+j5e; spf=pass (google.com: domain of alb6116@gmail.com designates 209.85.220.41 as permitted sender) smtp.mailfrom=alb6116@gmail.com; dmarc=pass (p=NONE sp=QUARANTINE dis=NONE) header.from=gmail.com\",\"return-path\":[\"<alb6116@gmail.com>\",\"<alb6116@gmail.com>\"],\"received-spf\":\"pass (google.com: domain of alb6116@gmail.com designates 209.85.220.41 as permitted sender) client-ip=209.85.220.41;\",\"authentication-results\":\"mx.google.com; dkim=pass header.i=@gmail.com header.s=20161025 header.b=ktMs+j5e; spf=pass (google.com: domain of alb6116@gmail.com designates 209.85.220.41 as permitted sender) smtp.mailfrom=alb6116@gmail.com; dmarc=pass (p=NONE sp=QUARANTINE dis=NONE) header.from=gmail.com\",\"dkim-signature\":\"v=1; a=rsa-sha256; c=relaxed/relaxed; d=gmail.com; s=20161025; h=subject:to:references:from:message-id:date:user-agent:mime-version :in-reply-to:content-language; bh=KZeMUnIfi7r7Oe4ya9Ybe05qhBvH81IPssRj+RLCW4A=; b=ktMs+j5e6/y0r6hW8ofq0EXmDCdFRdbRSbqIFbfWUuswml/YHHFTZyjMRG5dPFeMGE JvC9mOUdbgwpRJlDnH4CvRhU0u27KgNMCpqsNs+0zCwu55TZxfWbcdZITUOZ3YTzEQdC hXCDXu7eR+uYSRfG8Jms+MvWGgBv9cHKf7F0YbfEuHkpyZFbNsfHIGbminUANvi6oNbt HczrHe6XA+XxKk18iq/DEfsEC8auFUceOhQvq3dxji26UTgWdQAsG4OQedgD6TIXlJ83 31jSo9cwEG47DL1mHlAjuYECgmNJn5Khp9gLVj78X1mFYknyGptahYGFtEf9qD8FfgPf vH1Q==\",\"x-google-dkim-signature\":\"v=1; a=rsa-sha256; c=relaxed/relaxed; d=1e100.net; s=20161025; h=x-gm-message-state:subject:to:references:from:message-id:date :user-agent:mime-version:in-reply-to:content-language; bh=KZeMUnIfi7r7Oe4ya9Ybe05qhBvH81IPssRj+RLCW4A=; b=ON43764z75Yh9h8mY3VxVog5GZ1GB68WDR2ZYPgsihQljPBNg3mvYO5yUnUHXXm+r1 TZnhGX9rKw2EyMoCOxOL97gvVsA2BshYMumB4Qj/19Fat/gn427+txLIkS01RET3nsWh SMzumTq7GE0LJPF1pQzKhUYA/oRe7xvx3XpLRB2eZIr+FeY6SB0fr2Ne/XmD9oOhQ0v+ 5B5f8rTgHoTtOJjdhNEV03Ox49O9tlDJHP7f2wjrzc5pG5M2bdfDVDY/nELcvSzQoZdF 1wv6Oq7NJ7EKzip6mVpMAJLeffxdAOyRtVWWK4KlmMt0gX11gMeNVpLmZSWlh513x88P TRgA==\",\"x-gm-message-state\":\"APf1xPB4Gydn5iuraL6EIPOeWBD9HHaDFblIu9EHZnXgv0Q2/btBGTDh CtJzXZfNNGMiCKWiUxYRdJ5q/+9f\",\"x-google-smtp-source\":\"AH8x224ZfVgq2kzGX+OoI7+81/PHN8edhr8tGCG0V64fbuO+Hx6d8Psy5k4PAjiw8D5Pxo2uzQtYww==\",\"subject\":\"Re: Heizungsraspberrypi.\",\"to\":\"Stefan Vogel <backebackekuchen16@gmail.com>\",\"references\":\"<CAOVUi5ac9-irwWNohYKTq+MOFzziuvbCDVpvy9oqWa3Q-PSAcg@mail.gmail.com> <CAOVUi5a0i1OhbPkVWS075QPOR20o3D_1oSV2JgX=x69oDeTr-Q@mail.gmail.com> <CAOVUi5ZZ=PD=vkMcd3WwDztykK5phozR9++C8A_FsfSqfz2w2A@mail.gmail.com> <CAOVUi5b-r5_Mamg8uc1ELj-gphdA1d6CaveKv1a7PTQvWyARiQ@mail.gmail.com> <45d67f86-8d1e-07b1-d10a-c01a8754f726@gmail.com> <CAOVUi5bu2_ThhZgTa15sLo0ZnvAKaOYCVTLfP2+6ajBDkQ9z9Q@mail.gmail.com> <5129d2cd-23b5-8a45-f96d-651cd481a259@gmail.com> <CAOVUi5YzU+1P07U4JUQFCRRm1hbSp8qw3iDiRSRS8+qDF_unvA@mail.gmail.com> <CAOVUi5Z1zskgjNNBGXBsBD0QDycYViqZty6RbPAgXUnRxDZp2A@mail.gmail.com> <CAOVUi5YStRDzcj9GgOiKjhO-LRav=6iS-PM9JobWXqTM6-JFow@mail.gmail.com> <62518eb2-7a8f-f593-0a39-1856607c8405@gmail.com> <CAOVUi5bWZNcuMmsANYfXfF8XhooKK+OcGuaeuXDcY7QmFi5yrA@mail.gmail.com> <040f5a29-53e9-3242-2528-9f79d2170e26@gmail.com> <CAOVUi5Ya2D4GdOnW9BjFbi3-2=D_vB7k1ZRCbDdUOj4SmKyEFQ@mail.gmail.com> <CAOVUi5bN=uwS00XibcP0e0GRqod-4ZDCuVb8_NQy8fqQsob0Pw@mail.gmail.com>\",\"from\":\"Beate Lang <alb6116@gmail.com>\",\"message-id\":\"<646e27ce-bb11-db0e-ca93-21f1728c46fe@gmail.com>\",\"date\":\"Sat, 17 Feb 2018 13:48:35 +0100\",\"user-agent\":\"Mozilla/5.0 (Windows NT 10.0; WOW64; rv:52.0) Gecko/20100101 Thunderbird/52.6.0\",\"mime-version\":\"1.0\",\"in-reply-to\":\"<CAOVUi5bN=uwS00XibcP0e0GRqod-4ZDCuVb8_NQy8fqQsob0Pw@mail.gmail.com>\",\"content-type\":\"multipart/alternative; boundary=\\\"------------D3C1AA8471C00039CE49E5E2\\\"\",\"content-language\":\"en-US\"},\"html\":\"<html>\\n  <head>\\n    <meta http-equiv=\\\"content-type\\\" content=\\\"text/html; charset=utf-8\\\" />\\n  </head>\\n  <body text=\\\"#000000\\\" bgcolor=\\\"#FFFFFF\\\">\\n    <div class=\\\"moz-cite-prefix\\\">Also bitte nochmal Heizung anschalten.<br>\\n      <br>\\n      Viele Grüße<br>\\n      <br>\\n      Beate<br>\\n      <br>\\n      Am 17.02.2018 um 13:45 schrieb Stefan Vogel:<br>\\n    </div>\\n    <blockquote type=\\\"cite\\\"\\ncite=\\\"mid:CAOVUi5bN=uwS00XibcP0e0GRqod-4ZDCuVb8_NQy8fqQsob0Pw@mail.gmail.com\\\">\\n      <div dir=\\\"auto\\\">Ach nee, das kann man einstellen, ob die\\n        abgerufene Email als gelesen markiert werden soll. Beim\\n        Heizungsraspberrypi habe ich das neu angelegt und da ist das\\n        Anfangseinstellung. Habe ich jetzt sçhnell umgestellt, bitte bei\\n        Gelegenheit noch ein Test, dann müsste im debug-Tab einmalig die\\n        Heizung auf \\\"Heizung ein\\\" gestellt werden, im Lautsprecher soll\\n        aber alle 5 min \\\"Email da\\\" zu hören sein, falls ich\\n        zwischendurch weg bin. </div>\\n      <div class=\\\"gmail_ex...\",\"from\":\"alb6116@gmail.com\",\"attachments\":[],\"_msgid\":\"b925388f.3f2e18\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 400,
        "y": 60,
        "wires": [
            [
                "738a67a0.e56a78"
            ]
        ]
    },
    {
        "id": "541fd22c.97427c",
        "type": "link out",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "links": [
            "99bf6a33.675b68"
        ],
        "x": 3535,
        "y": 300,
        "wires": []
    },
    {
        "id": "8bbc7a28.c85628",
        "type": "exec",
        "z": "b4be1bf1.59bee8",
        "command": "sudo reboot",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "sudo reboot",
        "x": 3590,
        "y": 400,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "55a3f6a2.6d2f68",
        "type": "inject",
        "z": "b4be1bf1.59bee8",
        "name": "Test",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 270,
        "y": 540,
        "wires": [
            [
                "7c46a0ef.7c8c4"
            ]
        ]
    },
    {
        "id": "b5a46bdc.57e0f8",
        "type": "template",
        "z": "b4be1bf1.59bee8",
        "name": "Unlock",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "char-write-req 0411 8000",
        "output": "str",
        "x": 630,
        "y": 500,
        "wires": [
            [
                "9d1f7fcd.53d0f",
                "91fb8ad9.f13f88"
            ]
        ]
    },
    {
        "id": "9d1f7fcd.53d0f",
        "type": "delay",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 840,
        "y": 500,
        "wires": [
            [
                "407ee94c.6a6368"
            ]
        ]
    },
    {
        "id": "407ee94c.6a6368",
        "type": "template",
        "z": "b4be1bf1.59bee8",
        "name": "disconnect",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "disconnect 00:1A:22:0B:F9:D1",
        "output": "str",
        "x": 1010,
        "y": 500,
        "wires": [
            [
                "c8561e10.6c68"
            ]
        ]
    },
    {
        "id": "c5008e81.a5d15",
        "type": "link in",
        "z": "b4be1bf1.59bee8",
        "name": "Schaltprogramm \"Status abfragen\"",
        "links": [
            "c15d35b3.ab5b58"
        ],
        "x": 315,
        "y": 500,
        "wires": [
            [
                "7c46a0ef.7c8c4"
            ]
        ]
    },
    {
        "id": "c15d35b3.ab5b58",
        "type": "link out",
        "z": "b4be1bf1.59bee8",
        "name": "2",
        "links": [
            "c5008e81.a5d15"
        ],
        "x": 3535,
        "y": 340,
        "wires": []
    },
    {
        "id": "f5e2d918.351d38",
        "type": "inject",
        "z": "b4be1bf1.59bee8",
        "name": "Reset",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 3310,
        "y": 400,
        "wires": [
            [
                "8bbc7a28.c85628"
            ]
        ]
    },
    {
        "id": "be0b2506.caa358",
        "type": "link out",
        "z": "b4be1bf1.59bee8",
        "name": "zu gatttool schicken",
        "links": [
            "1fd93aab.4ddaa5"
        ],
        "x": 595,
        "y": 540,
        "wires": []
    },
    {
        "id": "91fb8ad9.f13f88",
        "type": "link out",
        "z": "b4be1bf1.59bee8",
        "name": "zu gatttool schicken",
        "links": [
            "1fd93aab.4ddaa5"
        ],
        "x": 795,
        "y": 540,
        "wires": []
    },
    {
        "id": "c8561e10.6c68",
        "type": "link out",
        "z": "b4be1bf1.59bee8",
        "name": "zu gatttool schicken",
        "links": [
            "1fd93aab.4ddaa5"
        ],
        "x": 1135,
        "y": 540,
        "wires": []
    },
    {
        "id": "d917e84c.b6c9f8",
        "type": "comment",
        "z": "b4be1bf1.59bee8",
        "name": "Schaltprogramm \"Status lesen\"",
        "info": "",
        "x": 130,
        "y": 500,
        "wires": []
    },
    {
        "id": "92245a34.f3b908",
        "type": "comment",
        "z": "b4be1bf1.59bee8",
        "name": "Solltemperatur 22,5° einstellen",
        "info": "",
        "x": 190,
        "y": 1000,
        "wires": []
    },
    {
        "id": "1b3c43ef.94aa8c",
        "type": "inject",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 3360,
        "y": 140,
        "wires": [
            [
                "3a9dad2c.52b062"
            ]
        ]
    },
    {
        "id": "da70f870.d4a548",
        "type": "comment",
        "z": "b4be1bf1.59bee8",
        "name": "Heizung an",
        "info": "",
        "x": 3650,
        "y": 260,
        "wires": []
    },
    {
        "id": "320baec5.5caf92",
        "type": "comment",
        "z": "b4be1bf1.59bee8",
        "name": "Heizung aus",
        "info": "",
        "x": 3650,
        "y": 300,
        "wires": []
    },
    {
        "id": "21942ab3.d4a516",
        "type": "comment",
        "z": "b4be1bf1.59bee8",
        "name": "Status",
        "info": "",
        "x": 3630,
        "y": 340,
        "wires": []
    },
    {
        "id": "2eb6f940.8676f6",
        "type": "link in",
        "z": "b4be1bf1.59bee8",
        "name": "zur Fehlersuche Email speichern",
        "links": [
            "b405bf65.95768",
            "6a4464a6.ba70ac"
        ],
        "x": 260,
        "y": 220,
        "wires": [
            [
                "9306fda7.f656e"
            ]
        ]
    },
    {
        "id": "e912908f.b6c66",
        "type": "function",
        "z": "b4be1bf1.59bee8",
        "name": "aktuellste Email merken",
        "func": "var letzte_Email=global.get(\"letzte_Email\")||{\"date\":\"\"};\nif (msg.date>letzte_Email.date) global.set(\"letzte_Email\",msg);\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 2090,
        "y": 100,
        "wires": [
            [
                "9b7a0e48.15698"
            ]
        ]
    },
    {
        "id": "9b7a0e48.15698",
        "type": "delay",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 2340,
        "y": 100,
        "wires": [
            [
                "7774d889.1bf8e8"
            ]
        ]
    },
    {
        "id": "7774d889.1bf8e8",
        "type": "function",
        "z": "b4be1bf1.59bee8",
        "name": "aktuellste Email ausführen",
        "func": "msg=global.get(\"letzte_Email\");\nnode.status({text:msg.date+\" \"});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2580,
        "y": 100,
        "wires": [
            [
                "83b2a42b.a3e5e8",
                "5f3a1b46.707914"
            ]
        ]
    },
    {
        "id": "83b2a42b.a3e5e8",
        "type": "debug",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 2810,
        "y": 140,
        "wires": []
    },
    {
        "id": "3c17be89.34a7c2",
        "type": "inject",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 2340,
        "y": 60,
        "wires": [
            [
                "7774d889.1bf8e8"
            ]
        ]
    },
    {
        "id": "7286eb28.c43104",
        "type": "inject",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 2340,
        "y": 20,
        "wires": [
            [
                "dae16f37.2f5ac"
            ]
        ]
    },
    {
        "id": "dae16f37.2f5ac",
        "type": "function",
        "z": "b4be1bf1.59bee8",
        "name": "aktuellste Email löschen",
        "func": "global.set(\"letzte_Email\",{\"date\":\"\"});\nmsg.reset=true;\nmsg.date=\"\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2570,
        "y": 20,
        "wires": [
            [
                "5f3a1b46.707914"
            ]
        ]
    },
    {
        "id": "e40f444b.d40428",
        "type": "comment",
        "z": "b4be1bf1.59bee8",
        "name": "Schaltprogramm auswählen",
        "info": "",
        "x": 3240,
        "y": 260,
        "wires": []
    },
    {
        "id": "8bb4f97a.839158",
        "type": "debug",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 3040,
        "y": 40,
        "wires": []
    },
    {
        "id": "5f3a1b46.707914",
        "type": "rbe",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 2830,
        "y": 80,
        "wires": [
            [
                "4997ff11.783a8",
                "8bb4f97a.839158"
            ]
        ]
    },
    {
        "id": "4e03c933.25c4b8",
        "type": "debug",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 240,
        "y": 180,
        "wires": []
    },
    {
        "id": "231168e4.029f78",
        "type": "inject",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 460,
        "y": 180,
        "wires": [
            [
                "b9bd0cc7.b140f"
            ]
        ]
    },
    {
        "id": "5f680ea.5bef9f",
        "type": "subflow:f4669750.411278",
        "z": "b4be1bf1.59bee8",
        "name": "connect",
        "x": 440,
        "y": 300,
        "wires": [
            [
                "a8f69b17.d49a28"
            ],
            [
                "e96c87d8.d17c58"
            ]
        ]
    },
    {
        "id": "6486ab8a.fd2a94",
        "type": "template",
        "z": "f4669750.411278",
        "name": "connect",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "connect 00:1A:22:0B:F9:D1 #zweiter Versuch",
        "output": "str",
        "x": 220,
        "y": 200,
        "wires": [
            [
                "220d500a.ed429"
            ]
        ]
    },
    {
        "id": "db6d3d3.96e9bc",
        "type": "template",
        "z": "f4669750.411278",
        "name": "connect",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "connect 00:1A:22:0B:F9:D1 #dritter Versuch",
        "output": "str",
        "x": 220,
        "y": 280,
        "wires": [
            [
                "90991353.335a9"
            ]
        ]
    },
    {
        "id": "7c46a0ef.7c8c4",
        "type": "subflow:f4669750.411278",
        "z": "b4be1bf1.59bee8",
        "name": "connect",
        "x": 440,
        "y": 500,
        "wires": [
            [
                "b5a46bdc.57e0f8"
            ],
            [
                "be0b2506.caa358"
            ]
        ]
    },
    {
        "id": "bce08ae7.435278",
        "type": "subflow:f4669750.411278",
        "z": "b4be1bf1.59bee8",
        "name": "connect",
        "x": 440,
        "y": 400,
        "wires": [
            [
                "ec48e44a.11e598"
            ],
            [
                "eca91c29.a07d3"
            ]
        ]
    },
    {
        "id": "e96c87d8.d17c58",
        "type": "link out",
        "z": "b4be1bf1.59bee8",
        "name": "zu gatttool schicken",
        "links": [
            "1fd93aab.4ddaa5"
        ],
        "x": 595,
        "y": 340,
        "wires": []
    },
    {
        "id": "279c854f.2ba20a",
        "type": "delay",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "8",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 240,
        "y": 1180,
        "wires": [
            [
                "97d3725d.6888b",
                "e0e65fc1.d1819"
            ]
        ]
    },
    {
        "id": "2fe96195.2ebc5e",
        "type": "join",
        "z": "b4be1bf1.59bee8",
        "name": "join",
        "mode": "custom",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "5",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 900,
        "y": 1140,
        "wires": [
            [
                "d671fd42.3caae",
                "e3afe0ef.4923f"
            ]
        ]
    },
    {
        "id": "e0e65fc1.d1819",
        "type": "debug",
        "z": "b4be1bf1.59bee8",
        "name": "stdin gatttool",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 410,
        "y": 1140,
        "wires": []
    },
    {
        "id": "129f64c1.0f179b",
        "type": "inject",
        "z": "b4be1bf1.59bee8",
        "name": "21.5",
        "topic": "",
        "payload": "21.5",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 270,
        "y": 640,
        "wires": [
            [
                "951fa6c6.350698"
            ]
        ]
    },
    {
        "id": "951fa6c6.350698",
        "type": "subflow:f4669750.411278",
        "z": "b4be1bf1.59bee8",
        "name": "connect",
        "x": 440,
        "y": 600,
        "wires": [
            [
                "7e2786eb.e2b6a8"
            ],
            [
                "ee399061.c5dc9"
            ]
        ]
    },
    {
        "id": "c9fbf2ae.7bf44",
        "type": "link in",
        "z": "b4be1bf1.59bee8",
        "name": "Schaltprogramm \"Temperatur einstellen\"",
        "links": [
            "1d72db97.79b7f4"
        ],
        "x": 315,
        "y": 600,
        "wires": [
            [
                "951fa6c6.350698"
            ]
        ]
    },
    {
        "id": "ee399061.c5dc9",
        "type": "link out",
        "z": "b4be1bf1.59bee8",
        "name": "zu gatttool schicken",
        "links": [
            "1fd93aab.4ddaa5"
        ],
        "x": 595,
        "y": 640,
        "wires": []
    },
    {
        "id": "dd375c83.484b8",
        "type": "template",
        "z": "b4be1bf1.59bee8",
        "name": "Temperatur",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "char-write-req 0411 41{{payload}}",
        "output": "str",
        "x": 850,
        "y": 600,
        "wires": [
            [
                "15048293.c5635d",
                "5de910a6.d6382"
            ]
        ]
    },
    {
        "id": "15048293.c5635d",
        "type": "link out",
        "z": "b4be1bf1.59bee8",
        "name": "zu gatttool schicken",
        "links": [
            "1fd93aab.4ddaa5"
        ],
        "x": 995,
        "y": 640,
        "wires": []
    },
    {
        "id": "a78cd4a1.eafa58",
        "type": "template",
        "z": "b4be1bf1.59bee8",
        "name": "disconnect",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "disconnect 00:1A:22:0B:F9:D1",
        "output": "str",
        "x": 1270,
        "y": 600,
        "wires": [
            [
                "dfab2eeb.b0ad3"
            ]
        ]
    },
    {
        "id": "dfab2eeb.b0ad3",
        "type": "link out",
        "z": "b4be1bf1.59bee8",
        "name": "zu gatttool schicken",
        "links": [
            "1fd93aab.4ddaa5"
        ],
        "x": 1215,
        "y": 640,
        "wires": []
    },
    {
        "id": "39d753fd.d012bc",
        "type": "comment",
        "z": "b4be1bf1.59bee8",
        "name": "\"Temperatur einstellen\"",
        "info": "",
        "x": 100,
        "y": 600,
        "wires": []
    },
    {
        "id": "5daa914a.51477",
        "type": "inject",
        "z": "b4be1bf1.59bee8",
        "name": "22",
        "topic": "",
        "payload": "22",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 270,
        "y": 680,
        "wires": [
            [
                "951fa6c6.350698"
            ]
        ]
    },
    {
        "id": "7e2786eb.e2b6a8",
        "type": "function",
        "z": "b4be1bf1.59bee8",
        "name": "hex",
        "func": "msg.payload=Math.floor(0.5+msg.payload*2).toString(16);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 630,
        "y": 600,
        "wires": [
            [
                "dd375c83.484b8",
                "556d0b8a.6e0204"
            ]
        ]
    },
    {
        "id": "3de59933.ed5f46",
        "type": "debug",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1030,
        "y": 680,
        "wires": []
    },
    {
        "id": "2687bd98.c1a642",
        "type": "function",
        "z": "f4669750.411278",
        "name": "value=payload",
        "func": "msg.value=msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 240,
        "y": 60,
        "wires": [
            [
                "9c3e623c.ddd2d"
            ]
        ]
    },
    {
        "id": "b403269.d6cb8d8",
        "type": "function",
        "z": "f4669750.411278",
        "name": "payload=value",
        "func": "msg.payload=msg.value;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 240,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "556d0b8a.6e0204",
        "type": "template",
        "z": "b4be1bf1.59bee8",
        "name": "umgerechnet in",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Input {{value}} umgerechnet in {{payload}} !",
        "output": "str",
        "x": 860,
        "y": 660,
        "wires": [
            [
                "3de59933.ed5f46"
            ]
        ]
    },
    {
        "id": "2716e79b.30a238",
        "type": "delay",
        "z": "f4669750.411278",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 440,
        "y": 120,
        "wires": [
            [
                "6486ab8a.fd2a94"
            ]
        ]
    },
    {
        "id": "220d500a.ed429",
        "type": "delay",
        "z": "f4669750.411278",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 440,
        "y": 200,
        "wires": [
            [
                "db6d3d3.96e9bc"
            ]
        ]
    },
    {
        "id": "90991353.335a9",
        "type": "delay",
        "z": "f4669750.411278",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 440,
        "y": 280,
        "wires": [
            [
                "b403269.d6cb8d8"
            ]
        ]
    },
    {
        "id": "5de910a6.d6382",
        "type": "delay",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1060,
        "y": 600,
        "wires": [
            [
                "a78cd4a1.eafa58"
            ]
        ]
    },
    {
        "id": "1d72db97.79b7f4",
        "type": "link out",
        "z": "b4be1bf1.59bee8",
        "name": "",
        "links": [
            "c9fbf2ae.7bf44"
        ],
        "x": 3535,
        "y": 460,
        "wires": []
    },
    {
        "id": "38c93ed5.6d76c2",
        "type": "inject",
        "z": "b4be1bf1.59bee8",
        "name": "Heizung Temperatur 21,5 °C",
        "topic": "",
        "payload": "Heizung Temperatur 21,5 °C",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 3140,
        "y": 340,
        "wires": [
            [
                "4a48a70b.1ac828"
            ]
        ]
    },
    {
        "id": "f4613e02.00cfa",
        "type": "inject",
        "z": "b4be1bf1.59bee8",
        "name": "Heizung Temperatur 22 °C",
        "topic": "",
        "payload": "Heizung Temperatur 22 °C",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 3130,
        "y": 380,
        "wires": [
            [
                "4a48a70b.1ac828"
            ]
        ]
    },
    {
        "id": "41cba36.f5cec5c",
        "type": "inject",
        "z": "b4be1bf1.59bee8",
        "name": "Heizung Status",
        "topic": "",
        "payload": "Heizung Status",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 3100,
        "y": 300,
        "wires": [
            [
                "4a48a70b.1ac828"
            ]
        ]
    }
]